<%= simple_form_for(@crew) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :foreman %>
    </div>
    <div class="col-md-6">
      <%= f.input :size %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :double_book %>
    </div>
    <div class="col-md-6">
      <%= f.input :notes %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-success' %>
    <%= link_to 'Back', crews_path, class: 'btn btn-info' %>
  </div>
<% end %>
