<h1>Listing Crews</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Foreman</th>
      <th>Size</th>
      <th>Doublebook</th>
      <th>Notes</th>
      <% if request.format == 'text/html' %>
        <th colspan="3" class="text-center">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @crews.each do |crew| %>
      <tr>
        <td><%= crew.foreman %></td>
        <td><%= crew.size %></td>
        <td><%= crew.is_double_book %></td>
        <td><%= crew.notes %></td>
        <% if request.format == 'text/html' %>
          <td>
            <%= link_to crew, class: 'btn btn-primary' do %>
              <i class='fa fa-eye'></i> Show
            <% end %>
          </td>
          <td>
            <%= link_to edit_crew_path(crew), class: 'btn btn-info' do %>
              <i class='fa fa-pencil-square-o'></i> Edit
            <% end %>
          </td>
          <td>
            <%= link_to crew, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class='fa fa-trash-o'></i> Destroy
            <% end %>
          </td>
        <%  end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if request.format == 'text/html' %>
  <%= link_to raw("<i class='fa fa-plus-square-o'></i> New Crew"), new_crew_path, :class => "btn btn-info" %>
  <%= link_to raw("<i class='fa fa-file'></i> Export To CSV"),crews_path(format: :csv),class: "btn btn-info" %>
  <%= link_to raw("<i class='fa fa-print'></i> Print"), print_crews_path, remote: true, class: "btn btn-info" %>
<% end %>
