<p id="notice"><%= notice %></p>

<p>
  <strong>Foreman:</strong>
  <%= @crew.foreman %>
</p>

<p>
  <strong>Size:</strong>
  <%= @crew.size %>
</p>

<p>
  <strong>Doublebook?:</strong>
  <%= @crew.doubleBook? %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @crew.notes %>
</p>

<%= link_to 'Edit', edit_crew_path(@crew) %> |
<%= link_to 'Back', crews_path %>
