<%= simple_form_for(@agent_client, html: { remote: true }) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.association :agent, collection: Agent.all, label_method: :name %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.submit 'Update', class: 'btn btn-info' %>
        <%= hidden_field_tag :client_id, "", class: 'client_id' %>
      </div>
    </div>
  </div>
<% end %>
<fieldset>
    <legend>New Agent</legend>
</fieldset>
