<%= form_for(@agent_client) do |f| %>
  <% if @agent_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent_client.errors.count, "error") %> prohibited this agent_client from being saved:</h2>

      <ul>
      <% @agent_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :agent_id %><br>
    <%= f.number_field :agent_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :agentDate %><br>
    <%= f.date_select :agentDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
