<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Draftsman</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-responsive table-hover'>
      <thead>
        <tr>
          <th>Draftsman Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name</td>
          <td><%= @draftsman.first_name %></td>
        </tr>
        <tr>
          <td>Middle Initial</td>
          <td><%= @draftsman.middle_initial %></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><%= @draftsman.last_name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @draftsman.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_draftsman_path(@draftsman), class: 'btn btn-info' %>
<%= link_to 'Back', draftsmen_path, class: 'btn btn-info' %>
