<%= simple_form_for(@svc_criterium) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= label_tag 'Property Type:' %>
      <%= f.input :propRes, label: "Residential", as: :boolean, readonly: true, input_html: { checked: true } %>
      <%= f.input :propComm, label: "Commercial", as: :boolean, readonly: true, input_html: { checked: false } %>
    </div> 
    <div class="col-md-6">
      <%= f.input :prevInsp, label: "Previously Inspected:", as: :radio_buttons, wrapper: :vertical_radio_and_checkboxes, collection: SvcCriterium::DEFAULTS.to_a %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :hpoz, label: "Historical Property Overlay Zone(HPOZ):", as: :radio_buttons, wrapper: :vertical_radio_and_checkboxes, collection: SvcCriterium::DEFAULTS.to_a %>
    </div>
    <div class="col-md-6">
      <%= f.input :cdo, label: "Community Design Overlay(CDO):", as: :radio_buttons, collection: SvcCriterium::DEFAULTS.to_a %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :ownerOcc, label: "Owner Occupied:", as: :radio_buttons, collection: SvcCriterium::DEFAULTS.to_a %>
    </div>
    <div class="col-md-4">
      <%= f.input :foundation, as: :select, collection: Property::FOUNDATION.map{|v| [v, v]}, selected: 'Raised', label: "Foundation Type" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :yearBuilt, label: "Construction Year:" %>
    </div>
    <div class="col-md-6">
      <%= f.input :notes, as: :text %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
