<h1>Listing Service Criteria</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Property Type</th>
      <th>Previously Inspected</th>
      <th>Historical Property Overlay Zone(HPOZ)</th>
      <th>Community Design Overlay(CDO)</th>
      <th>Owner Occupied</th>
      <th>Foundation Type</th>
      <th>Construction Year</th>
      <th>Notes</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @svc_criteria.each do |svc_criterium| %>
      <tr>
        <td><%= svc_criterium.property_type %></td>
        <td><%= svc_criterium.humanize("prevInsp") %></td>
        <td><%= svc_criterium.humanize("hpoz") %></td>
        <td><%= svc_criterium.humanize("cdo") %></td>
        <td><%= svc_criterium.humanize("ownerOcc") %></td>
        <td><%= svc_criterium.foundation %></td>
        <td><%= svc_criterium.yearBuilt %></td>
        <td><%= svc_criterium.notes %></td>
        <td>
          <%= link_to svc_criterium, class: 'btn btn-primary' do %>
            <i class='fa fa-eye'></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_svc_criterium_path(svc_criterium), class: 'btn btn-info' do %>
            <i class='fa fa-pencil-square-o'></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to svc_criterium, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-trash-o'></i> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Service Criteria"), new_svc_criterium_path, :class => "btn btn-info" %>
