<p id="notice"><%= notice %></p>

<p>
  <strong>Propres:</strong>
  <%= @svc_criterium.propRes %>
</p>

<p>
  <strong>Propcomm:</strong>
  <%= @svc_criterium.propComm %>
</p>

<p>
  <strong>Previnsp:</strong>
  <%= @svc_criterium.prevInsp %>
</p>

<p>
  <strong>Hpoz:</strong>
  <%= @svc_criterium.hpoz %>
</p>

<p>
  <strong>Cdo:</strong>
  <%= @svc_criterium.cdo %>
</p>

<p>
  <strong>Ownerocc:</strong>
  <%= @svc_criterium.ownerOcc %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @svc_criterium.foundation %>
</p>

<p>
  <strong>Yearbuilt:</strong>
  <%= @svc_criterium.yearBuilt %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @svc_criterium.notes %>
</p>

<%= link_to 'Edit', edit_svc_criterium_path(@svc_criterium) %> |
<%= link_to 'Back', svc_criteria_path %>
