<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Property Address</th>
      <th>Client</th>
      <th>Permit Required</th>
      <th>Estimated duration (days)</th>
      <th>Actual Scheduled Start - End</th>
      <th>Schedule authorized by</th>
      <th>Date schedule was authorized</th>
    </tr>
    <tr style="background-color:#99ccff" class="blue">
      <th></th>
      <th>Schedule Date</th>
      <th>Crew</th>
      <th>Job start time</th>
      <th>Job end time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <% insp_request = project.try(:contract).try(:bid).try(:inspection).try(:appointment).try(:insp_request) %>
        <td><%= project.try(:title) %></td>
        <td><%= insp_request.try(:property).try(:property_select_value) %></td>
        <td><%= insp_request.try(:client).try(:name) %></td>
        <td><%= project.humanize("permit") %></td>
        <td><%= project.try(:estDuration) %></td>
        <td><%= project.try(:scheduled) %></td>
        <td><%= project.try(:authorizedBy) %></td>
        <td><%= project.try(:authorizedOn).try(:strftime, "%d %b %Y") %></td>
      </tr>
      <% project.proj_scheds.each do |proj_sched| %>
        <tr>
          <td></td>
          <td><%= proj_sched.try(:schedule_date) %></td>
          <td><%= proj_sched.try(:crew).try(:foreman) %></td>
          <td><%= proj_sched.try(:startTime).try(:strftime, "%I:%M %p") %></td>
          <td><%= proj_sched.try(:endTime).try(:strftime, "%I:%M %p") %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end%>
  </tbody>
</table>

<% if current_page?(proj_scheds_url) %>
  <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
<% end %>

<br>
<% if request.path != "/proj_scheds/print" %>
  <%= link_to raw("<i class='fa fa-print'></i> Print"), "javascript:void(0)", class: "btn btn-info print-proj_schedules", target: "_blank", onclick: "printReport('/proj_scheds/print')" %>
<% end %>
