<h1>Listing proj_scheds</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Crew</th>
      <th>Date</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proj_scheds.each do |proj_sched| %>
      <tr>
        <td><%= proj_sched.project_id %></td>
        <td><%= proj_sched.crew_id %></td>
        <td><%= proj_sched.date %></td>
        <td><%= proj_sched.startTime %></td>
        <td><%= proj_sched.endTime %></td>
        <td><%= proj_sched.notes %></td>
        <td><%= link_to 'Show', proj_sched %></td>
        <td><%= link_to 'Edit', edit_proj_sched_path(proj_sched) %></td>
        <td><%= link_to 'Destroy', proj_sched, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proj sched', new_proj_sched_path %>
