<div class="right">
  <%= select_tag "crew", options_for_select(@crews.map{|c| [c.foreman, c.id]}), class: "form-control crew_select", prompt: "Select Crew" %>
</div>
<div class="left">
  <span>
    <% if @project %>
      <%= link_to "Back", @project, class: "btn btn-primary right" %>
    <% end %>
  </span>
  <br></br>
  <div class="datepicker datepicker-left"></div>
  <div class="full-calendar border"></div>
</div>
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false"></div>
<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
      daysOfWeekDisabled: [0,6],
      todayHighlight: true
    });
    $('.datepicker').on('changeDate', function (dateText) {
      $('.full-calendar').fullCalendar('gotoDate',new Date(Date.parse(dateText.date)));
      var defaultView = $('.full-calendar').fullCalendar('getView').name;
      $('.full-calendar').fullCalendar("changeView", defaultView);
      update(defaultView);
    });
  })
    
  $('.full-calendar').fullCalendar({
    header: {
        left: '',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
    },
    defaultView: 'agendaWeek',
    editable: <%= @editable %>,
    weekends: false,
    selectable: <%= @editable %>,
    selectHelper: true,
    firstDay:1,
    eventStartEditable: false,
    timeFormat: 'hh:mm A',
    eventSources: [{
      url: "/proj_scheds",
    }],
    eventRender: function(event, element) {
      $(element).tooltip({title:event.project, container: "body"});
    },
    eventClick: function(cal_event, js_event, view){
      <% if @editable %>
        calendar_event_clicked(cal_event, js_event, view);
      <% end %>
    },
    select: function(start, end, jsEvent, view) {
      <% if @editable %>
        $('.modal').html('<%= escape_javascript(render partial: "crew_inspection") %>');
        $(".schedule_start_date").val(start.format("YYYY-MM-DD"));
        $(".schedule_end_date").val(start.format("YYYY-MM-DD"));
        $(".startTime").val(start.format("h:mm A"));
        var end_time = start.add(2, 'hours').add(30, 'minutes');
        $(".EndTime").val(end_time.format("h:mm A"));
        $(".modal").modal('show');
      <% end %>
    }
  });

  function calendar_event_clicked(cal_event, js_event, view){
    $.ajax({
      type: "GET",
      url: "/proj_scheds/" + cal_event.id + "/edit.js"
    });
  }

  $(".fc-month-button").on("click", function(){
    update("month");
  });
  $(".fc-agendaWeek-button").on("click", function(){
    update("agendaWeek");
  });
  $(".fc-agendaDay-button").on("click", function(){
    update("agendaDay");
  });

  function update(view){
    var date = $(".datepicker").datepicker("getDate");
    var crew_id = $(".crew_select").val();
    $.ajax({
      type: "GET",
      url: "/proj_scheds/scheduled_projects",
      data: { date: date, view_type: view, crew_id: crew_id},
      dataType: 'JSON',
      success: function(result){
        $('.full-calendar').fullCalendar('removeEvents');
        $('.full-calendar').fullCalendar('addEventSource', result );
      }
    });
  }

  $(".crew_select").change(function(){
    var crew_id = $(this).val();
    var start_date = $('.full-calendar').fullCalendar('getView').start.format("YYYY-MM-DD");
    var end_date = $('.full-calendar').fullCalendar('getView').end.format("YYYY-MM-DD");
    var defaultView = $('.full-calendar').fullCalendar('getView').name;
    $.ajax({
      type: "GET",
      url: "/proj_scheds/scheduled_projects",
      data: { start_date: start_date, end_date: end_date, view_type: defaultView, crew_id: crew_id},
      dataType: 'JSON',
      success: function(result){
        $('.full-calendar').fullCalendar('removeEvents');
        $('.full-calendar').fullCalendar('addEventSource', result );
      }
    });
  });
</script>