<h1>Listing Credit Notes</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Date</th>
      <th>Invoice</th>
      <th>Invoice Balance</th>
      <th>Amount</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @credit_notes.each do |credit_note| %>
      <tr>
        <td><%= credit_note.reference %></td>
        <td><%= credit_note.date %></td>
        <td><%= credit_note.try(:invoice).try(:invoice_select_dropdown) %></td>
        <td><%= credit_note.try(:invoice).try(:amount) %></td>
        <td><%= credit_note.amount %></td>
        <td>
          <%= link_to credit_note, class: 'btn btn-primary' do %>
            <i class='fa fa-eye'></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_credit_note_path(credit_note), class: 'btn btn-info' do %>
            <i class='fa fa-pencil-square-o'></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to credit_note, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-trash-o'></i> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Credit note"), new_credit_note_path, :class => "btn btn-info" %>
