<%= form_for(@svc_area) do |f| %>
  <% if @svc_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@svc_area.errors.count, "error") %> prohibited this svc_area from being saved:</h2>

      <ul>
      <% @svc_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :serviced %><br>
    <%= f.check_box :serviced %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
