<%= simple_form_for(@svc_area) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :state, as: :select, collection: @states, label: 'Select State', input_html: { class: 'state' }, prompt: 'Please Select' %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :city, as: :select, collection: @cities, label: 'Select City', input_html: { class: 'city'}, prompt: 'Please Select' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :zip %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :serviced %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :notes, as: :text %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
