<h1>Listing svc_areas</h1>

<table>
  <thead>
    <tr>
      <th>Zip</th>
      <th>City</th>
      <th>State</th>
      <th>Serviced</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @svc_areas.each do |svc_area| %>
      <tr>
        <td><%= svc_area.zip %></td>
        <td><%= svc_area.city %></td>
        <td><%= svc_area.state %></td>
        <td><%= svc_area.serviced %></td>
        <td><%= link_to 'Show', svc_area %></td>
        <td><%= link_to 'Edit', edit_svc_area_path(svc_area) %></td>
        <td><%= link_to 'Destroy', svc_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Svc area', new_svc_area_path %>
