<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :invoice_type, as: :radio_buttons, collection: ['Inspection', 'Project'] %>
    </div>
    <div class="col-md-6 project">
      <%= f.association :project, collection: @projects, label: "Project" %>
    </div>
    <div class="col-md-6 inspection">
      <%= f.association :inspection, collection: @inspections, label: "Inspection" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :reference %> 
    </div>
    <div class="col-md-6">
      <%= label_tag "Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["invoiceDate"].first %>">
        <div class='input-group date'>
          <%= f.text_field :invoiceDate, class: "form-control", value: f.object.try(:invoiceDate) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["invoiceDate"].first %></span>
      </div>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :description, label: "Invoice Description" %>
    </div>
    <div class="col-md-2 customer_info">
      <%= f.object.try(:client).try(:name) %>
    </div>
    <div class="col-md-1 customer_details">
      <% if f.object.try(:client) %>
        <%= link_to client_path(f.object.try(:client)), remote: true, class: 'link' do %>
          <i class='fa fa-eye'></i> Details
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2 pay_plan_info">
      <%= f.object.try(:pay_plan).try(:title) %>
    </div>
    <div class="col-md-1 pay_plan_details">
      <% if f.object.try(:pay_plan) %>
        <%= link_to pay_plan_path(f.object.try(:pay_plan)), remote: true, class: 'link' do %>
          <i class='fa fa-eye'></i> Details
        <% end %>
      <% end %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6 balance_due">
      <%= label_tag "Balance Due" %>
      <%= text_field_tag "balance_due", f.object.try(:balance_due), class: 'form-control' %>
    </div>
    <div class="col-md-6 invoice_amount">
      <%= f.input :amount %>
    </div>
    <div class="col-md-6">
      <%= label_tag "Due Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["due_date"].first %>">
        <div class='input-group date'>
          <%= f.text_field :due_date, class: "form-control", value: f.object.try(:due_date) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["due_date"].first %></span>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>
<% end %>
<div class="modal modal-details" tabindex="-1" role="dialog" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  <% if (params && params[:invoice] && params[:invoice][:invoice_type] == "Inspection") || (@invoice.try(:invoice_type) == "Inspection") %>
    $(".inspection").show();
    $(".project").hide();
    $(".inspection select").change();
  <% elsif (params && params[:invoice] && params[:invoice][:invoice_type] == "Project") || (@invoice.try(:invoice_type) == "Project") %>
    $(".inspection").hide();
    $(".project").show();
    $(".project select").change();
  <% else %>
    $(".inspection").hide();
    $(".project").hide();
  <% end %>
  $("input[name='invoice[invoice_type]']").on('change', function(){
    var attribute = $(this).val();
    if(attribute == "Inspection"){
      $(".project").hide();
      $(".inspection").show();
      $(".customer_info").hide();
      $(".customer_details").hide();
      $(".pay_plan_info").hide();
      $(".pay_plan_details").hide();
      $(".project select").val("");
    }
    else if(attribute == "Project"){
      $(".project").show();
      $(".inspection").hide();
      $(".inspection select").val("");
    }
  });
  $('.input-group.date').datepicker({
    format: 'yyyy-mm-dd'
  });
  $("#invoice_inspection_id").change(function(){
    var id = $(this).val();
    if(id == ""){
      alert("Please select atleast one inspection.");
    }
    else{
      $.ajax({
        type: "GET",
        url: "/invoices/" + id + "/info?attribute=inspection"
      });
    }
  });
  $("#invoice_project_id").change(function(){
    var id = $(this).val();
    if(id == ""){
      alert("Please select atleast one project.");
      $(".customer_info").hide();
      $(".customer_details").hide();
      $(".pay_plan_info").hide();
      $(".pay_plan_details").hide();
    }
    else{
      $.ajax({
        type: "GET",
        url: "/invoices/" + id + "/info?attribute=project"
      });
    }
  });
});
</script>