<h1>Listing Invoices</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Type</th>
      <th>Inspection</th>
      <th>Project</th>
      <th>Description</th>
      <th>Invoice Date</th>
      <th>Amount</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.reference %></td>
        <td><%= invoice.invoice_type %></td>
        <td><%= invoice.try(:inspection).try(:name) %></td>
        <td><%= invoice.try(:project).try(:title) %></td>
        <td><%= invoice.description %></td>
        <td><%= invoice.invoiceDate %></td>
        <td><%= invoice.amount %></td>
        <td>
          <%= link_to invoice, class: 'btn btn-primary' do %>
            <i class='fa fa-eye'></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_invoice_path(invoice), class: 'btn btn-info' do %>
            <i class='fa fa-pencil-square-o'></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to invoice, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-trash-o'></i> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Invoice"), new_invoice_path, :class => "btn btn-info" %>
