<h1>Listing Commission Rates</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Level</th>
      <th>Scale</th>
      <% if request.format == 'text/html' %>
        <th colspan="2" class="text-center">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @commission_rates.each do |commission_rate| %>
      <tr>
        <td><%= commission_rate.title %></td>
        <td><%= commission_rate.scale %></td>
        <% if request.format == 'text/html' %>
          <td>
            <%= link_to commission_rate, class: 'btn btn-primary' do %>
              <i class='fa fa-eye'></i> Show
            <% end %>
          </td>
          <td>
            <%= link_to edit_commission_rate_path(commission_rate), class: 'btn btn-info' do %>
              <i class='fa fa-pencil-square-o'></i> Edit
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_page?(commission_rates_url) %>
  <%= will_paginate @commission_rates, renderer: BootstrapPagination::Rails %>
<% end %>

<br>
<% if request.format == 'text/html' %>
  <%= link_to raw("<i class='fa fa-plus-square-o'></i> New Commission Rate"), new_commission_rate_path, :class => "btn btn-info" %>
  <%= link_to raw("<i class='fa fa-file'></i> Export To CSV"), commission_rates_path(format: :csv),class: "btn btn-info" %>
  <%= link_to raw("<i class='fa fa-print'></i> Print"), print_commission_rates_path, remote: true,class: "btn btn-info" %>
<% end %>
