<h1>Listing Commission Rates</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Level</th>
      <th>Scale</th>
      <th colspan="2" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @commission_rates.each do |commission_rate| %>
      <tr>
        <td><%= commission_rate.title %></td>
        <td><%= commission_rate.scale %></td>
        <td>
          <%= link_to commission_rate, class: 'btn btn-primary' do %>
            <i class='fa fa-eye'></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_commission_rate_path(commission_rate), class: 'btn btn-info' do %>
            <i class='fa fa-pencil-square-o'></i> Edit
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Commission Rate"), new_commission_rate_path, :class => "btn btn-info" %>