<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Contract</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-hover table-responsive'>
      <thead>
        <tr>
          <th>Contract Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Title</td>
          <td><%= @contract.title %></td>
        </tr>
        <tr>
          <td>Bid</td>
          <td><%= @contract.try(:bid).try(:title) %></td>
        </tr>
        <tr>
          <td>Contract Date</td>
          <td><%= @contract.try(:date).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Date Accepted</td>
          <td><%= @contract.try(:accepted_date).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Accepted By</td>
          <td><%= @contract.acceptedBy %></td>
        </tr>
        <tr>
          <td>Date Signed</td>
          <td><%= @contract.try(:dateSigned).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Signed By</td>
          <td><%= @contract.signedBy %></td>
        </tr>
        <tr>
          <td>Date Received</td>
          <td><%= @contract.try(:downPmtDate).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Amout Received</td>
          <td><%= number_to_currency(@contract.downPmtAmt) %></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td><%= @contract.notes %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
<%= link_to 'Back', contracts_path, class: "btn btn-info" %>
