<%= simple_form_for @bid, html: { remote: true } do |f| %>
	<%= f.error_notification %>
	<div class="row">
	  <div class="col-md-6">
	    <%= f.input :costRepair, label: "Repair Cost" %>
	  </div>
	  <div class="col-md-6">
	    <%= f.input :feeSeismicUpg, label: "Seismic Upgrade Fee" %>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	    <%= f.input :feeAdmin, label: "Administration Fee" %>
	    <%= f.hidden_field :inspection_id, value: @inspection.id %>
	  </div>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>