<%= simple_form_for @bid, html: { remote: true } do |f| %>
	<%= f.error_notification %>
	<div class="row">
	  <div class="col-md-6">
	    <%= f.input :title, input_html: { readonly: true, value: f.object.default_title(@inspection) } %>
	  </div>
	  <div class="col-md-6">
	    <%= f.input :costRepair, label: "Repair Cost", as: :string, input_html: { value: "$#{f.object.costRepair}" } %>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	    <%= f.input :feeSeismicUpg, label: "Seismic Upgrade Fee", as: :string, input_html: { value: "$#{f.object.feeSeismicUpg}" } %>
	  </div>
	  <div class="col-md-6">
	    <%= f.input :feeAdmin, label: "Administration Fee", as: :string, input_html: { value: "$#{f.object.feeAdmin}" } %>
	    <%= f.hidden_field :inspection_id, value: @inspection.id %>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	    <%= f.association :payPlan, collection: @payment_plans, label_method: :payment_plan_select %>
	  </div>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>