<p id="notice"><%= notice %></p>

<p>
  <strong>Inspection:</strong>
  <%= @bid.inspection_id %>
</p>

<p>
  <strong>Costrepair:</strong>
  <%= number_to_currency(@bid.costRepair) %>
</p>

<p>
  <strong>Feeseismicupg:</strong>
  <%= number_to_currency(@bid.feeSeismicUpg) %>
</p>

<p>
  <strong>Feeadmin:</strong>
  <%= number_to_currency(@bid.feeAdmin) %>
</p>

<p>
  <strong>Payplan:</strong>
  <%= @bid.payPlan_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bid.status %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
