<%= simple_form_for(@inspector) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :firstName, label: "First Name" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :lastName, label: "Last Name" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :middleInit, label: "Middle Initial" %>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class="form-group">
        <%= f.input :senior, as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class="form-group">
        <%= f.input :is_active, as: :boolean, checked_value: true, unchecked_value: false, label: "Active" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :phoneH, label: "Home Number" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :phoneC, label: "Cell Number" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :state, as: :select, collection: @states, label: 'Select State', input_html: { class: 'state' }, prompt: 'Please Select' %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :city, as: :select, collection: @cities, selected: f.object.city, label: 'Select City', input_html: { class: 'city'}, prompt: 'Please Select' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :address %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :zip %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :email %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :notes %>
      </div>
    </div>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
