<h1>Inspectors</h1>

<table class='table table-bordered table-striped table-hover table-responsive'>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Middle Initial</th>
      <th>Senior</th>
      <th>Home Number</th>
      <th>Cell Number</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @inspectors.each do |inspector| %>
      <tr>
        <td><%= inspector.firstName %></td>
        <td><%= inspector.lastName %></td>
        <td><%= inspector.middleInit %></td>
        <td><%= inspector.senior %></td>
        <td><%= inspector.phoneH %></td>
        <td><%= inspector.phoneC %></td>
        <td><%= inspector.address %></td>
        <td><%= inspector.city %></td>
        <td><%= inspector.state_name %></td>
        <td><%= inspector.zip %></td>
        <td><%= inspector.email %></td>
        <td><%= link_to raw("<i class='fa fa-eye'></i> Show"), inspector, class: 'btn btn-primary' %></td>
        <td><%= link_to raw("<i class='fa fa-pencil-square-o'></i> Edit"), edit_inspector_path(inspector), class: 'btn btn-info' %></td>
        <td><%= link_to raw("<i class='fa fa-trash-o'></i> Destroy"), inspector, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Inspector"), new_inspector_path, :class => "btn btn-info" -%>
