<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Inspector</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-responsive table-hover'>
      <thead>
        <tr>
          <th>Inspector Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name</td>
          <td><%= @inspector.firstName %></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><%= @inspector.lastName %></td>
        </tr>
        <tr>
          <td>Middle Initial</td>
          <td><%= @inspector.middleInit %></td>
        </tr>
        <tr>
          <td>Senior</td>
          <td><%= @inspector.senior_inspector %></td>
        </tr>
        <tr>
          <td>Home Number</td>
          <td><%= number_to_phone(@inspector.phoneH) %></td>
        </tr>
        <tr>
          <td>Cell Number</td>
          <td><%= number_to_phone(@inspector.phoneC) %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @inspector.email %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @inspector.address %></td>
        </tr>
        <tr>
          <td>State</td>
          <td><%= @inspector.state_name %></td>
        </tr>
        <tr>
          <td>City</td>
          <td><%= @inspector.city %></td>
        </tr>
        <tr>
          <td>Zip</td>
          <td><%= @inspector.zip %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_inspector_path(@inspector), class: 'btn btn-info' %>
<%= link_to 'Back', inspectors_path, class: 'btn btn-info' %>
