<%= simple_form_for(@user, url: user_path, html: { method: :put }, remote: true) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: "New password", required: true, autofocus: true %>
    <%= f.input :password_confirmation, label: "Confirm new password", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change password" %>
  </div>
<% end %>