<%= simple_form_for user, url: user_path(user), remote: true do |f| %>
  <td>
    <%= f.association :role, collection: Role.get_role, prompt: " Select Role ",
      :label_method => lambda { |role| "#{role.name.try(:humanize)}" }, label: false  %>
  </td>

  <td>
    <%= f.input :status, as: :radio_buttons, label: false, collection: User::USER_STATUS,
      item_wrapper_class: 'inline' %>
  </td>

  <td>
    <%= f.button :submit, onclick: "changeclass(this.form)"%>
  </td>
<% end %>

<script type="text/javascript">
  function changeclass(f){
    var role = $("#user_role_id option:selected" ).val();
    var status = $("input[type='radio']:checked").val();
    var id = $('<%= user.id %>');
    $.ajax({
    url: "users/update?id=<%= user.id %>",
    type: 'patch',
    data: { role_id: role, status: status, id: id },
    success: function() {}
  });
  }
</script>
