<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :crossStreet %><br>
    <%= f.text_field :crossStreet %>
  </div>
  <div class="field">
    <%= f.label :mapPage %><br>
    <%= f.number_field :mapPage %>
  </div>
  <div class="field">
    <%= f.label :yearBuilt %><br>
    <%= f.number_field :yearBuilt %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :stories %><br>
    <%= f.number_field :stories %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :units %><br>
    <%= f.number_field :units %>
  </div>
  <div class="field">
    <%= f.label :gndUnits %><br>
    <%= f.number_field :gndUnits %>
  </div>
  <div class="field">
    <%= f.label :lotType %><br>
    <%= f.text_field :lotType %>
  </div>
  <div class="field">
    <%= f.label :foundation %><br>
    <%= f.text_field :foundation %>
  </div>
  <div class="field">
    <%= f.label :hpoz? %><br>
    <%= f.check_box :hpoz? %>
  </div>
  <div class="field">
    <%= f.label :cdo? %><br>
    <%= f.check_box :cdo? %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
