<%= javascript_include_tag 'common' %>
<%= simple_form_for @property, html: { remote: @remote } do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :number %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :street %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :state, as: :select, collection: @states, label: 'Select State', input_html: { class: 'state' }, prompt: 'Please Select' %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :city, as: :select, collection: @cities, label: 'Select City', input_html: { class: 'city'}, prompt: 'Please Select' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :crossStreet %>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class="form-group">
        <%= f.input :zip, as: :select, collection: @zip_codes, input_html: { class: "zip_code" } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-12'>
      <div class="form-group">
        <%= f.input :yearBuilt, as: :select, collection: @years, selected: f.object.new_record? ? 1965 : f.object.yearBuilt , label: 'Select Year Built', input_html: { class: 'year_built' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :size, label: "Size in Square Footage" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :stories, label: "Number of Floor Levels" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :prop_type, as: :select, collection: Property::PROPERTY_TYPE.map{|v| [v, v]}, label: "Building Type", prompt: 'Please Select' %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :units, label: "Number of Units" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :gndUnits, label: "Number of Ground Units" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :lotType, as: :select, collection: Property::LOT_TYPE.map{|v| [v, v]}, selected: 'Flat', label: "Lot Type" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :foundation, input_html: { value: @foundation_type, disabled: true }, label: "Foundation Type" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :occupied_by, as: :select, collection: Property::OCCUPIED_BY.map{|v| [v, v]}, label: "Occupied By", prompt: 'Please Select' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :cdo, label: "Community Design Overlay" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :hpoz, label: "Historical Property Overlay Zone" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <% if @remote %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <% else %>
      <%= link_to "Back", properties_path, class: 'btn btn-info' %>
    <% end %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <input type="button" value="Map" onclick="getMap()" class="btn btn-success property_map" />
  </div>
<% end %>
<script>
$(".property_map").hide();
$("input[type=number],select,input[type=text]").focusout(function(){
  check_map_attributes();
});
function check_map_attributes(){
  var street = $("#property_street").val();
  var state = $("#property_state").val();
  var city = $("#property_city").val();
  var zip = $("#property_zip").val();
  if(street != "" && state != "Please Select" && city != "Please Select" && zip != "")
    $(".property_map").show();
  else
    $(".property_map").hide();
}
function getMap(){
  var street = $("#property_street").val();
  var state = $("#property_state").val();
  var city = $("#property_city").val();
  var zip = $("#property_zip").val();
  var address = street + ", " + city + ", " + state + ", " + zip;
  $.ajax({
    type: "GET",
    url: "/properties/get_map",
    data: { address: address },
    success: function(result){
      window.open('/properties/map?lat=' + result["lat"] + '&long=' + result["long"])
    }
  });
}
<% if @remote %>
  $('.modal').on('shown.bs.modal', function () {
    $('.zip_code', this).chosen();
    $('.year_built', this).chosen();
  });
<% else %>
  $(".zip_code").chosen();
  $(".year_built").chosen();
<% end %>
</script>