<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Property Attributes</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Number</td>
      <td><%= @property.number %></td>
    </tr>
    <tr>
      <td>Street</td>
      <td><%= @property.street %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @property.state_name %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= @property.city %></td>
    </tr>
    <tr>
      <td>Zip</td>
      <td><%= @property.zip %></td>
    </tr>
    <tr>
      <td>Cross Street</td>
      <td><%= @property.crossStreet %></td>
    </tr>
    <tr>
      <td>Map Page</td>
      <td><%= @property.mapPage %></td>
    </tr>
    <tr>
      <td>Year Built</td>
      <td><%= @property.yearBuilt %></td>
    </tr>
    <tr>
      <td>Size in Square Footage</td>
      <td><%= @property.size %></td>
    </tr>
    <tr>
      <td>Number of floor levels</td>
      <td><%= @property.stories %></td>
    </tr>
    <tr>
      <td>Building Type</td>
      <td><%= @property.prop_type %></td>
    </tr>
    <tr>
      <td>Number of Units</td>
      <td><%= @property.units %></td>
    </tr>
    <tr>
      <td>Number of Ground Units</td>
      <td><%= @property.gndUnits %></td>
    </tr>
    <tr>
      <td>Lot Type</td>
      <td><%= @property.lotType %></td>
    </tr>
    <tr>
      <td>Foundation Type</td>
      <td><%= @property.foundation %></td>
    </tr>
    <tr>
      <td>Historical Property Overlay Zone(HPO)</td>
      <td><%= @property.hpoz %></td>
    </tr>
    <tr>
      <td>Community Design Overlay(CDO)</td>
      <td><%= @property.humanize("cdo") %></td>
    </tr>
    <tr>
      <td>Occupied By</td>
      <td><%= @property.occupied_by %></td>
    </tr>
    <tr>
      <td>Notes</td>
      <td><%= @property.notes %></td>
    </tr>
  </tbody>
</table>