<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Number:</strong>
      <%= @property.number %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Street:</strong>
      <%= @property.street %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>State:</strong>
      <%= @property.state_name %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>City:</strong>
      <%= @property.city %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Zip:</strong>
      <%= @property.zip %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Cross Street:</strong>
      <%= @property.crossStreet %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Map Page:</strong>
      <%= @property.mapPage %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Year Built:</strong>
      <%= @property.yearBuilt %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Size in Square Footage:</strong>
      <%= @property.size %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Number of floor levels:</strong>
      <%= @property.stories %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Building Type:</strong>
      <%= @property.prop_type %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Number of Units:</strong>
      <%= @property.units %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Number of Ground Units:</strong>
      <%= @property.gndUnits %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Lot Type:</strong>
      <%= @property.lotType %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Foundation Type:</strong>
      <%= @property.foundation %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Historical Property Overlay Zone(HPO):</strong>
      <%= @property.hpoz %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Community Design Overlay(CDO):</strong>
      <%= @property.cdo %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Occupied By:</strong>
      <%= @property.occupied_by %>
    </div>
  </div>
</div>