<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Crossstreet</th>
      <th>Mappage</th>
      <th>Yearbuilt</th>
      <th>Size</th>
      <th>Stories</th>
      <th>Type</th>
      <th>Units</th>
      <th>Gndunits</th>
      <th>Lottype</th>
      <th>Foundation</th>
      <th>Hpoz?</th>
      <th>Cdo?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.number %></td>
        <td><%= property.street %></td>
        <td><%= property.city %></td>
        <td><%= property.state %></td>
        <td><%= property.zip %></td>
        <td><%= property.crossStreet %></td>
        <td><%= property.mapPage %></td>
        <td><%= property.yearBuilt %></td>
        <td><%= property.size %></td>
        <td><%= property.stories %></td>
        <td><%= property.type %></td>
        <td><%= property.units %></td>
        <td><%= property.gndUnits %></td>
        <td><%= property.lotType %></td>
        <td><%= property.foundation %></td>
        <td><%= property.hpoz? %></td>
        <td><%= property.cdo? %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
