<br/>
<div class="row">
  <div class='col-sm-4'>
    <div class="form-group">
      <%= f.input :firstName %>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="form-group">
      <%= f.input :lastName %>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="form-group">
      <%= f.input :middleInit %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-4'>
    <div class="form-group">
      <%= f.input :phoneC, label: "Mobile Number" %>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="form-group">
      <%= f.input :phoneH, label: "Home Number" %>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="form-group">
      <%= f.input :phoneW, label: "Office Number" %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-6'>
    <div class="form-group">
      <%= f.input :email %>
    </div>
  </div>
  <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :mailAddress, label: "Mailing Address" %>
      </div>
    </div>
</div>