<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Client Attributes</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @client.name %></td>
    </tr>
    <% if @client.of_type == "Company" %>
      <tr>
        <td>Contact</td>
        <td><%= @client.contact %></td>
      </tr>
    <% end %>
    <tr>
      <td>Home Number</td>
      <td><%= number_to_phone(@client.phoneH) %></td>
    </tr>
    <tr>
      <td>Office Number</td>
      <td><%= number_to_phone(@client.phoneW) %></td>
    </tr>
    <tr>
      <td>Cell Number</td>
      <td><%= number_to_phone(@client.phoneC) %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @client.email %></td>
    </tr>
    <tr>
      <td>Client Type</td>
      <td><%= @client.client_type %></td>
    </tr>
    <tr>
      <td>Opt Out of Mailing List</td>
      <td><%= @client.opt_out_mailer? %></td>
    </tr>
    <tr>
      <td>Mail Address</td>
      <td><%= @client.mailAddress %></td>
    </tr>
    <tr>
      <td>Notes</td>
      <td><%= @client.notes %></td>
    </tr>
  </tbody>
</table>