<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Client Attributes</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name</td>
      <td><%= @client.firstName %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= @client.lastName %></td>
    </tr>
    <tr>
      <td>Middle Initial</td>
      <td><%= @client.middleInit %></td>
    </tr>
    <tr>
      <td>Home Number</td>
      <td><%= number_to_phone(@client.phoneH) %></td>
    </tr>
    <tr>
      <td>Office Number</td>
      <td><%= number_to_phone(@client.phoneW) %></td>
    </tr>
    <tr>
      <td>Cell Number</td>
      <td><%= number_to_phone(@client.phoneC) %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @client.email %></td>
    </tr>
    <tr>
      <td>Mail Address</td>
      <td><%= @client.mailAddress %></td>
    </tr>
  </tbody>
</table>