<fieldset>
  <legend>New Client</legend>
</fieldset>
<%= simple_form_for @client, html: { remote: @remote } do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='col-sm-4'>
      <div class="form-group">
        <%= f.input :firstName %>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class="form-group">
        <%= f.input :lastName %>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class="form-group">
        <%= f.input :middleInit %>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :property_id, "", class: 'property_id' %>
  <div class="row">
    <div class='col-sm-4'>
      <div class="form-group">
        <%= f.input :phoneC, label: "Mobile Number" %>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class="form-group">
        <%= f.input :phoneH, label: "Home Number" %>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class="form-group">
        <%= f.input :phoneW, label: "Office Number" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :email %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.input :is_opt_out_mailer, as: :boolean, checked_value: true, unchecked_value: false, label: "Opt Out of Mailing List" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-12'>
      <div class="form-group">
        <%= f.input :mailAddress, label: "Mailing Address" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <% if @remote %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <% else %>
      <%= link_to "Back", clients_path, class: 'btn btn-info' %>
    <% end %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    var property_id = $(".property_select").val();
    $(".property_id").val(property_id);
    var property_text = $(".property_select option:selected").text();
    $("#client_mailAddress").val(property_text);
  });
</script>