<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">New Customer</h4>
    </div>
    <div class="modal-body">
      <%= simple_form_for @client, html: { remote: true } do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class='col-sm-4'>
            <div class="form-group">
              <%= f.input :firstName %>
            </div>
          </div>
          <div class='col-sm-4'>
            <div class="form-group">
              <%= f.input :lastName %>
            </div>
          </div>
          <div class='col-sm-4'>
            <div class="form-group">
              <%= f.input :middleInit %>
            </div>
          </div>
        </div>
        <%= hidden_field_tag :property_id, "" %>
        <div class="row">
          <div class='col-sm-4'>
            <div class="form-group">
              <%= f.input :phoneH, label: "Home Number" %>
            </div>
          </div>
          <div class='col-sm-4'>
            <div class="form-group">
              <%= f.input :phoneC, label: "Telephone Number" %>
            </div>
          </div>
          <div class='col-sm-4'>
            <div class="form-group">
              <%= f.input :phoneW, label: "Office Number" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <div class="form-group">
              <%= f.input :email %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <div class="form-group">
              <%= f.input :mailAddress, label: "Mailing Address" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var property_id = $(".property_select").val();
    $("#property_id").val(property_id);
  });
</script>