<h1>Listing Clients</h1>

<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Middle Initial</th>
      <th>Home Number</th>
      <th>Office Number</th>
      <th>Cell Number</th>
      <th>Email</th>
      <th>Mail Address</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.firstName %></td>
        <td><%= client.lastName %></td>
        <td><%= client.middleInit %></td>
        <td><%= client.phoneH %></td>
        <td><%= client.phoneW %></td>
        <td><%= client.phoneC %></td>
        <td><%= client.email %></td>
        <td><%= client.mailAddress %></td>
        <td><%= link_to raw("<i class='fa fa-eye'></i> Show"), client, class: 'btn btn-primary' %></td>
        <td><%= link_to raw("<i class='fa fa-pencil-square-o'></i> Edit"), edit_client_path(client), class: 'btn btn-info' %></td>
        <td><%= link_to raw("<i class='fa fa-trash-o'></i> Destroy"), client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Client"), new_client_path, class: 'btn btn-info' %>
