<div id="homescreen" class="text-center">
<%=image_tag "home.png", width: 742, height: 786, id: "Home", usemap: "#m_Home", alt: "" %><map name="m_Home" id="m_Home">
<area shape="rect" coords="574,314,693,408" href="<%= 'proj_scheds' %>" />
<area shape="rect" coords="574,221,693,307" href="<%= 'projects' %>" />
<area shape="rect" coords="574,126,693,215" href="<%= 'contracts' %>" />
<area shape="rect" coords="574,35,693,118" href="<%= 'comm_histories' %>" />
<area shape="rect" coords="380,693,528,775" href="<%= 'proj_insps' %>" />
<area shape="rect" coords="380,618,528,681" href="<%= 'permits' %>" />
<area shape="rect" coords="380,515,528,601" href="<%= '' %>" />
<area shape="rect" coords="380,418,528,493" href="<%= 'bids' %>" />
<area shape="rect" coords="380,314,528,408" href="<%= 'receipts' %>" />
<area shape="rect" coords="380,221,528,307" href="<%= 'invoices' %>" />
<area shape="rect" coords="380,126,528,215" href="<%= 'pay_plans' %>" />
<area shape="rect" coords="380,35,528,118" href="<%= 'inspections' %>" />
<area shape="rect" coords="190,418,340,515" href="<%= 'appointments' %>" />
<area shape="rect" coords="190,314,340,408" href="<%= 'agents' %>" />
<area shape="rect" coords="190,221,340,307" href="<%= 'clients' %>" />
<area shape="rect" coords="190,126,340,207" href="<%= 'properties' %>" />
<area shape="rect" coords="190,35,340,118" href="<%= 'insp_requests' %>" />
<area shape="rect" coords="24,515,148,618" href="<%= 'crews' %>" />
<area shape="rect" coords="24,418,148,505" href="<%= 'inspectors' %>" />
<area shape="rect" coords="24,314,148,408" href="<%= 'svc_areas' %>" />
<area shape="rect" coords="24,221,148,299" href="<%= 'insp_comm_scales' %>" />
<area shape="rect" coords="24,126,148,207" href="<%= 'i_fee_schedules' %>" />
<area shape="rect" coords="24,35,148,118" href="<%= 'svc_criteria' %>" />
</map>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".alert").fadeOut(5000);
  });
</script>