<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Representative Attributes</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name</td>
      <td><%= @agent.firstName %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= @agent.lastName %></td>
    </tr>
    <tr>
      <td>Middle Initial</td>
      <td><%= @agent.middleInit %></td>
    </tr>
    <tr>
      <td>Company</td>
      <td><%= @agent.company %></td>
    </tr>
    <tr>
      <td>Primary Number</td>
      <td><%= number_to_phone(@agent.phoneH) %></td>
    </tr>
    <tr>
      <td>Telphone Number</td>
      <td><%= number_to_phone(@agent.phoneW) %></td>
    </tr>
    <tr>
      <td>Fax Number</td>
      <td><%= number_to_phone(@agent.phoneC) %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @agent.email %></td>
    </tr>
    <tr>
      <td>Mail Address</td>
      <td><%= @agent.mailAddress %></td>
    </tr>
    <tr>
      <td>Notes</td>
      <td><%= @agent.notes %></td>
    </tr>
  </tbody>
</table>