<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>First Name:</strong>
      <%= @agent.firstName %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Last Name:</strong>
      <%= @agent.lastName %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Middle Initial:</strong>
      <%= @agent.middleInit %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Company:</strong>
      <%= @agent.company %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Home Number:</strong>
      <%= @agent.phoneH %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Office Number:</strong>
      <%= @agent.phoneW %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Cell Number:</strong>
      <%= @agent.phoneC %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Email:</strong>
      <%= @agent.email %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class="form-group">
      <strong>Mail Address:</strong>
      <%= @agent.mailAddress %>
    </div>
  </div>
</div>