<%= javascript_include_tag "common" %>
<%= simple_form_for(@project, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>
  <% @contract = f.object.contract || @contract %>
  <%= error_messages_for f.object.try(:permit_information) %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :title, input_html: { value: f.object.title || @insp_request.try(:default_title) } %>
    </div>
    <div class="col-md-4">
      <%= f.association :contract, as: :select, collection: @contracts, label_method: :title, selected: @contract.try(:id) , label: "Select Contract", include_blank: "Select Contract" %>
    </div>
    <div class="col-md-4 inspector_info <%= 'hide' unless @contract %>">
      <%= label_tag "Inspector" %>
      <%= text_field_tag "inspector_name", @contract.try(:bid).try(:inspection).try(:appointment).try(:inspector).try(:name), class: "insp_request inspector_info form-control", disabled: true %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-3 contract <%= 'hide' unless @contract %>">
      <%= label_tag "Accepted By" %>
      <%= text_field_tag "accepted_by", @contract.try(:acceptedBy), class: "accepted_by form-control", disabled: true %>
    </div>
    <div class="col-md-3 contract <%= 'hide' unless @contract %>">
      <%= label_tag "Signed By" %>
      <%= text_field_tag "signed_by", @contract.try(:signedBy), class: "signed_by form-control", disabled: true %>
    </div>
    <div class="col-md-3 contract <%= 'hide' unless @contract %>">
      <%= label_tag "Date Signed" %>
      <%= text_field_tag "date_signed", @contract.try(:dateSigned).try(:strftime, '%d %b %Y'), class: "date_signed form-control", disabled: true %>
    </div>
    <div class="col-md-3">
      <%= f.association :primary_crew, as: :select, collection: Crew.all, label_method: :foreman, label: "Select Primary Crew", include_blank: "Select Primary Crew" %>
    </div>
  </div>
  <br/>
  <div class="insp_request <%= 'hide' unless @contract %> ">
    <% if f.object.contract_id || @contract %>
      <% @insp_request = @contract.try(:bid).try(:inspection).try(:appointment).try(:insp_request) || @contract.try(:bid).try(:inspection).try(:appointment).try(:insp_request) %>
      <%= render 'insp_requests/insp_request_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= label_tag "Schedule Start Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["scheduleStart"].first %>">
        <div class='input-group date'>
          <%= f.text_field :scheduleStart, class: "form-control", value: f.object.try(:scheduleStart) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["scheduleStart"].first %></span>
      </div>
    </div>
    <div class="col-md-6">
      <%= label_tag "Schedule End Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["scheduleEnd"].first %>">
        <div class='input-group date'>
          <%= f.text_field :scheduleEnd, class: "form-control", value: f.object.try(:scheduleEnd) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["scheduleEnd"].first %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :estDuration, label: "Est. Duration(d)" %>
    </div>
    <div class="col-md-6">
      <%= f.input :jobCost, label: "Job Cost", input_html: { readonly: true, value: @contract.try(:bid).try(:total_cost) } %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-3"><%= f.input :permit, as: :boolean %></div>
      <div class="col-md-9 pull-right" style="margin-top:9px">
        <a href='javascript:void(0)' onclick="$('.modal.permit-information').modal('show');" class="link permit_information-link <%= 'hide' unless f.object.permit? %>"><i class='fa fa-eye'></i> Permit Information</a>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.input :authorizedBy, label: "Schedule Authorized By" %>
    </div>
    <div class="col-md-4">
      <%= label_tag "Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["authorizedOn"].first %>">
        <div class='input-group date'>
          <%= f.text_field :authorizedOn, class: "form-control", value: f.object.try(:authorizedOn) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["authorizedOn"].first %></span>
      </div>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :ready_to_process, as: :boolean %>
    </div>
    <div class="col-md-6">
      <%= f.input :option %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-3 interior-access-required <%= 'hide' if (@contract.blank? or @contract.try(:bid).try(:inspection).try(:interiorAccess) == false) %>">
      <%= f.input :verifiedAccess, label: "Interior Access Verified", as: :boolean %>
    </div>
    <div class="col-md-3">
      <%= f.input :verifiedEW, label: "Electricity and Water Verified", as: :boolean %>
    </div>
    <div class="col-md-6">
      <%= f.input :notes %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <%= label_tag "Miscellaneous documents" %>
    <%= file_field_tag 'document_attributes[]', multiple: true, id: "documentFile",  accept: ".pdf, .doc, .docx"%>
    <div class="col-md-6 document_preview preview">
      <div class="text-center">No Preview Available.</div>
    </div>
    <% if f.object.documents.present? %>
      <div class="col-md-6">
        <%= label_tag "Uploaded Miscellaneous Documents" %>
        <br/>
        <% f.object.documents.each do |document| %>
          <%= link_to document.attachment_file_name, document.attachment.url, class: 'blue-link' %>
          <br/>
        <% end %>
      </div>
    <% end %>
    </div>
  <br/>
  <div class="modal permit-information" tabindex="-1" role="dialog" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Add Permit Information</h4>
        </div>
        <div class="modal-body">
          <%= f.fields_for :permit_information do |permit_information| %>
            <%= render partial: 'permit_informations/form', locals: { permit_information: permit_information, f: f} %>
          <% end %>
        </div>
        <div class='modal-footer'>
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
  <div class="actions pull-right">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Back", comm_histories_path, class: "btn btn-info" %>
  </div>
<% end %>
<div class="modal modal-details" tabindex="-1" role="dialog" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  loadPreview("documentFile", "document_preview");
  $("#project_contract_id").on('change', function(){
    var contract_id = $(this).val();
    if(contract_id != ""){
      $.ajax({
        url: '/insp_requests/' + contract_id + '/insp_request_info',
        type: 'GET'
      });
    }
    else{
      alert("Please select Bid.")
      $(".inspector_info").addClass("hide");
      $(".insp_request").addClass("hide");
    }
  });
  $('.input-group.date').datepicker({
    format: 'yyyy-mm-dd'
  });

  $("input[name='project[permit]']").change(function(){
    if($(this).is(":checked")){
      $(".modal.permit-information").modal('show');
      $(".permit_information-link").removeClass('hide')
    }
    else{
      $(".permit_information-link").addClass('hide')
    }
  });
</script>