<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :title %>
    </div>
    <div class="col-md-4">
      <%= f.association :contract, as: :select, collection: @contracts, label_method: :title, selected: f.object.contract_id , label: "Select Contract", include_blank: "Select Contract" %>
    </div>
    <div class="col-md-4 inspector_info <%= 'hide' unless f.object.contract_id %>">
      <%= label_tag "Inspector" %>
      <%= text_field_tag "inspector_name", f.object.try(:contract).try(:bid).try(:inspection).try(:appointment).try(:inspector).try(:name), class: "insp_request inspector_info form-control", disabled: true %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-4 contract <%= 'hide' unless f.object.contract_id %>">
      <%= label_tag "Accepted By" %>
      <%= text_field_tag "accepted_by", f.object.try(:contract).try(:acceptedBy), class: "accepted_by form-control", disabled: true %>
    </div>
    <div class="col-md-4 contract <%= 'hide' unless f.object.contract_id %>">
      <%= label_tag "Signed By" %>
      <%= text_field_tag "signed_by", f.object.try(:contract).try(:signedBy), class: "signed_by form-control", disabled: true %>
    </div>
    <div class="col-md-4 contract <%= 'hide' unless f.object.contract_id %>">
      <%= label_tag "Date Signed" %>
      <%= text_field_tag "date_signed", f.object.try(:contract).try(:date_signed), class: "date_signed form-control", disabled: true %>
    </div>
  </div>
  <br/>
  <div class="insp_request <%= 'hide' unless f.object.contract_id %> ">
    <% if f.object.contract_id %>
      <% @insp_request = f.object.try(:contract).try(:bid).try(:inspection).try(:appointment).try(:insp_request) %>
      <%= render 'insp_requests/insp_request_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= label_tag "Schedule Start Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["scheduleStart"].first %>">
        <div class='input-group date'>
          <%= f.text_field :scheduleStart, class: "form-control", value: f.object.try(:scheduleStart) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["scheduleStart"].first %></span>
      </div>
    </div>
    <div class="col-md-6">
      <%= label_tag "Schedule End Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["scheduleEnd"].first %>">
        <div class='input-group date'>
          <%= f.text_field :scheduleEnd, class: "form-control", value: f.object.try(:scheduleEnd) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["scheduleEnd"].first %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :estDuration, label: "Est. Duration(d)" %>
    </div>
    <div class="col-md-6">
      <%= f.input :jobCost, label: "Job Cost", input_html: { readonly: true } %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-2">
      <%= f.input :permit, as: :boolean %>
    </div>
    <div class="col-md-5">
      <%= f.input :authorizedBy, label: "Schedule Authorized By" %>
    </div>
    <div class="col-md-5">
      <%= label_tag "Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["authorizedOn"].first %>">
        <div class='input-group date'>
          <%= f.text_field :authorizedOn, class: "form-control", value: f.object.try(:authorizedOn) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["authorizedOn"].first %></span>
      </div>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-3 interior-access-required <%= 'hide' if (f.object.contract_id.blank? or f.object.try(:contract).try(:bid).try(:inspection).try(:interiorAccess) == false) %>">
      <%= f.input :verifiedAccess, label: "Interior Access Verified", as: :boolean %>
    </div>
    <div class="col-md-3">
      <%= f.input :verifiedEW, label: "Electricity and Water Verified", as: :boolean %>
    </div>
    <div class="col-md-6">
      <%= f.input :notes %>
    </div>
  </div>
  <div class="actions pull-right">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Back", comm_histories_path, class: "btn btn-info" %>
  </div>
<% end %>
<div class="modal modal-details" tabindex="-1" role="dialog" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#project_contract_id").on('change', function(){
    var contract_id = $(this).val();
    if(contract_id != ""){
      $.ajax({
        url: '/insp_requests/' + contract_id + '/insp_request_info',
        type: 'GET'
      });
    }
    else{
      alert("Please select Bid.")
      $(".inspector_info").addClass("hide");
      $(".insp_request").addClass("hide");
    }
  });
  $('.input-group.date').datepicker({
    format: 'yyyy-mm-dd'
  });
</script>