<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Vcdate</th>
      <th>Contract</th>
      <th>Jobcost</th>
      <th>Scheduleby</th>
      <th>Schedulepref</th>
      <th>Estduration</th>
      <th>Schedulestart</th>
      <th>Scheduleend</th>
      <th>Authorizedby</th>
      <th>Authorizedon</th>
      <th>Crew</th>
      <th>Verifiedaccess</th>
      <th>Verifiedew</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.vcDate %></td>
        <td><%= project.contract_id %></td>
        <td><%= project.jobCost %></td>
        <td><%= project.scheduleBy %></td>
        <td><%= project.schedulePref %></td>
        <td><%= project.estDuration %></td>
        <td><%= project.scheduleStart %></td>
        <td><%= project.scheduleEnd %></td>
        <td><%= project.authorizedBy %></td>
        <td><%= project.authorizedOn %></td>
        <td><%= project.crew_id %></td>
        <td><%= project.verifiedAccess %></td>
        <td><%= project.verifiedEW %></td>
        <td><%= project.notes %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
