<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Project</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-responsive table-hover'>
      <thead>
        <tr>
          <th>Project Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Contract</td>
          <td><%= @project.try(:contract).try(:title) %></td>
        </tr>
        <tr>
          <td>Primary Crew</td>
          <td><%= @project.try(:primary_crew).try(:foreman) %></td>
        </tr>
        <tr>
          <td>Job Cost</td>
          <td><%= @project.jobCost %></td>
        </tr>
        <tr>
          <td>Permit Required</td>
          <td><%= @project.humanize("permit") %></td>
        </tr>
        <tr>
          <td>Est. Duration(d)</td>
          <td><%= @project.estDuration %></td>
        </tr>
        <tr>
          <td>Schedule Start</td>
          <td><%= @project.try(:scheduleStart).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Schedule End</td>
          <td><%= @project.try(:scheduleEnd).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Schedule Authorize By</td>
          <td><%= @project.authorizedBy %></td>
        </tr>
        <tr>
          <td>Date</td>
          <td><%= @project.try(:authorizedOn).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Plot Plans</td>
          <td><%= @project.humanize("plot_plans") %></td>
        </tr>
        <tr>
          <td>Drawings</td>
          <td><%= @project.humanize("drawings") %></td>
        </tr>
        <tr>
          <td>Option</td>
          <td><%= @project.option %></td>
        </tr>
        <tr>
          <td>Interior Access Verified</td>
          <td><%= @project.humanize("verifiedAccess") %></td>
        </tr>
        <tr>
          <td>Electricity and Water Verified</td>
          <td><%= @project.humanize("verifiedEW") %></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td><%= @project.notes %></td>
        </tr>
        <tr>
          <td>Uploaded Miscellaneous Documents</td>
          <td>
            <% @project.documents.each do |document| %>
              <%= link_to document.attachment_file_name, document.attachment.url, class: 'blue-link' %>
              <br/>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p class="pull-right">
  <%= link_to "Back", projects_path, class: "btn btn-info" %>
  <%= link_to "Schedule Project", proj_scheds_path(id: @project), class: "btn btn-success" %>
  <% if @project.try(:primary_crew).try(:email) %>
    <%= link_to "Email", send_email_to_crew_project_path(id: @project), class: "btn btn-primary" %>
  <% end %>
</p>