<%= simple_form_for(@i_fee_schedule) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :effectiveFrom, input_html: { class: "datepicker" }, as: :string, label: "Effective From" %>
    </div>
    <div class="col-md-6">
      <%= f.input :feeActive, label: "Current Fee Schedule" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :ownerOccRate, label: "Owner Occupied Rate" %>
    </div>
    <div class="col-md-6">
      <%= f.input :sfrBaseRate, label: "SFR Base Rate" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :sfrIncRate, label: "SFR Increment Rate" %>
    </div>
    <div class="col-md-6">
      <%= f.input :mfrBaseRate, label: "MFR Base Rate" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :mfrIncRate, label: "MFR Increment Rate" %>
    </div>
    <div class="col-md-6">
      <%= f.input :insBaseRate, label: "INS Base Rate" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :insIncRate, label: "INS Increment Rate" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({ 
      format: 'yyyy-mm-dd'
    });
    $(".datepicker").datepicker('update', new Date());;
  });
</script>