<h1>Listing Fee Schedules</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Effective From</th>
      <th>Status</th>
      <th>Owner Occupied Rate</th>
      <th>SFR Base Rate</th>
      <th>SFR Increment Rate</th>
      <th>MFR Base Rate</th>
      <th>MFR Increment Rate</th>
      <th>INS Base Rate</th>
      <th>INS Increment Rate</th>
      <% if request.format == 'text/html' %>
        <th colspan="2" class="text-center">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @i_fee_schedules.each do |fee_schedule| %>
      <tr>
        <td><%= fee_schedule.effective_from %></td>
        <td><%= fee_schedule.status %></td>
        <td><%= fee_schedule.ownerOccRate %></td>
        <td><%= fee_schedule.sfrBaseRate %></td>
        <td><%= fee_schedule.sfrIncRate %></td>
        <td><%= fee_schedule.mfrBaseRate %></td>
        <td><%= fee_schedule.mfrIncRate %></td>
        <td><%= fee_schedule.insBaseRate %></td>
        <td><%= fee_schedule.insIncRate %></td>
        <% if request.format == 'text/html' %>
          <td>
            <%= link_to fee_schedule, class: 'btn btn-primary' do %>
              <i class='fa fa-eye'></i> Show
            <% end %>
          </td>
          <td>
            <%= link_to fee_schedule, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class='fa fa-trash-o'></i> Destroy
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if request.format == 'text/html' %>
  <%= link_to raw("<i class='fa fa-plus-square-o'></i> New Fee Schedule"), new_i_fee_schedule_path, :class => "btn btn-info" -%>
  <%= link_to raw("<i class='fa fa-file'></i> Export To CSV"), i_fee_schedules_path(format: :csv),class: "btn btn-info" %>
  <%= link_to raw("<i class='fa fa-print'></i> Print"), print_i_fee_schedules_path, remote: true,class: "btn btn-info" %>
<% end %>
