<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Fee Schedule</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-hover table-responsive'>
      <thead>
        <tr>
          <th>Fee Schedule Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Effective From</td>
          <td><%= @i_fee_schedule.effective_from %></td>
        </tr>
        <tr>
          <td>Current Fee Schedule</td>
          <td><%= @i_fee_schedule.status %></td>
        </tr>
        <tr>
          <td>Owner Occupied Rate</td>
          <td><%= @i_fee_schedule.ownerOccRate %></td>
        </tr>
        <tr>
          <td>SFR Base Rate</td>
          <td><%= @i_fee_schedule.sfrBaseRate %></td>
        </tr>
        <tr>
          <td>SFR Increment Rate</td>
          <td><%= @i_fee_schedule.sfrIncRate %></td>
        </tr>
        <tr>
          <td>MFR Base Rate</td>
          <td><%= @i_fee_schedule.mfrBaseRate %></td>
        </tr>
        <tr>
          <td>MFR Increment Rate</td>
          <td><%= @i_fee_schedule.mfrIncRate %></td>
        </tr>
        <tr>
          <td>INS Base Rate</td>
          <td><%= @i_fee_schedule.insBaseRate %></td>
        </tr>
        <tr>
          <td>INS Increment Rate</td>
          <td><%= @i_fee_schedule.insIncRate %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Back', i_fee_schedules_path, class: 'btn btn-info' %>