<p id="notice"><%= notice %></p>

<p>
  <strong>Feeactive:</strong>
  <%= @i_fee_schedule.feeActive %>
</p>

<p>
  <strong>Effectivefrom:</strong>
  <%= @i_fee_schedule.effectiveFrom %>
</p>

<p>
  <strong>Owneroccrate:</strong>
  <%= @i_fee_schedule.ownerOccRate %>
</p>

<p>
  <strong>Sfrbaserate:</strong>
  <%= @i_fee_schedule.sfrBaseRate %>
</p>

<p>
  <strong>Sfrincrate:</strong>
  <%= @i_fee_schedule.sfrIncRate %>
</p>

<p>
  <strong>Mfrbaserate:</strong>
  <%= @i_fee_schedule.mfrBaseRate %>
</p>

<p>
  <strong>Mfrincrate:</strong>
  <%= @i_fee_schedule.mfrIncRate %>
</p>

<p>
  <strong>Insbaserate:</strong>
  <%= @i_fee_schedule.insBaseRate %>
</p>

<p>
  <strong>Insincrate:</strong>
  <%= @i_fee_schedule.insIncRate %>
</p>

<%= link_to 'Edit', edit_i_fee_schedule_path(@i_fee_schedule) %> |
<%= link_to 'Back', i_fee_schedules_path %>
