<% if @client_property.errors.present? %>
	$(".modal-body").html("<%= escape_javascript(render partial: 'form') %>")
	$(".modal-body").append("<%= escape_javascript(render partial: '/clients/form') %>")
	$(".modal-title").html("Client");
<% else %>
	$('.add-agent').show()
	$('.add-client').hide()
	$(".client_select").append("<option value='<%= @client.id %>' selected> <%= @client.name %></option>");
	$(".client_select").attr('disabled', false)
	$(".client_select").trigger("chosen:updated");
	$(".agent_select").html("<option>Select Agent</option><%= escape_javascript(options_for_select([])) %>");
	$(".agent_select").attr("disabled", true);
	$(".agent_select").trigger("chosen:updated");
	$(".insp_request_agent").removeClass("has-error");
	$(".insp_request_agent").find("span.help-block").html("");
	$(".modal").modal('hide');
<% end %>