<h1>Listing client_properties</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Property</th>
      <th>Clienttype</th>
      <th>Typedate</th>
      <th>Occupiedby</th>
      <th>Escrow</th>
      <th>Escrowdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_properties.each do |client_property| %>
      <tr>
        <td><%= client_property.client_id %></td>
        <td><%= client_property.property_id %></td>
        <td><%= client_property.clientType %></td>
        <td><%= client_property.typeDate %></td>
        <td><%= client_property.occupiedBy %></td>
        <td><%= client_property.escrow %></td>
        <td><%= client_property.escrowDate %></td>
        <td><%= link_to 'Show', client_property %></td>
        <td><%= link_to 'Edit', edit_client_property_path(client_property) %></td>
        <td><%= link_to 'Destroy', client_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client property', new_client_property_path %>
