<%= javascript_include_tag "common" %>
<%= simple_form_for(@project, remote: true) do |project| %>
	<%= project.error_notification %>
	<table class='table table-bordered table-striped table-responsive table-hover'>
		<thead>
			<th>Payment Schedule</th>
			<th>Amount</th>
			<th>Payment Type</th>
			<th>Date Invoiced</th>
			<th>Paid?</th>
			<th>Date Paid</th>
			<th>Comments</th>
		</thead>
		<tbody>
			<% if action_name == "update" || !@project.project_payment_schedules.first.new_record? %>
				<%= project.fields_for :project_payment_schedules do |project_payment_schedule| %>
					<tr>
						<%= render partial: "project_payment_schedules/project_payment_schedules_form", locals: { project_payment_schedule: project_payment_schedule, payment: project_payment_schedule.try(:payment), index: nil } %>
					</tr>
				<% end %>
			<% else %>
				<% @payments.each_with_index do |payment, index| %>
					<%= project.fields_for :project_payment_schedules do |project_payment_schedule| %>
						<%= project_payment_schedule.hidden_field :payment_id, value: payment.id %>
						<tr>
							<%= render partial: "project_payment_schedules/project_payment_schedules_form", locals: { project_payment_schedule: project_payment_schedule, payment: payment, index: index } %>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<%= project.submit "Submit", class: "btn btn-success pull-right" %>
<% end %>