<%= javascript_include_tag "common", "project_payment_schedule" %>
<%= simple_form_for(@project, remote: true) do |project| %>
	<%= project.error_notification %>
	<table class='table table-bordered table-striped table-responsive table-hover'>
		<thead>
			<th>Payment Schedule</th>
			<th>Amount</th>
			<th>Payment Type</th>
			<th>Date Invoiced</th>
			<th>Paid?</th>
			<th>Date Paid</th>
			<th>Comments</th>
		</thead>
		<tbody>
			<% if action_name == "update" || !@project.project_payment_schedules.first.new_record? %>
				<%= project.fields_for :project_payment_schedules do |project_payment_schedule| %>
					<%= project_payment_schedule.hidden_field :payment_id, value: project_payment_schedule.object.try(:payment).try(:id) %>
					<tr>
						<%= render partial: "project_payment_schedules/project_payment_schedules_form", locals: { project_payment_schedule: project_payment_schedule, payment: project_payment_schedule.try(:payment), index: nil } %>
					</tr>
				<% end %>
			<% else %>
				<% @payments.each_with_index do |payment, index| %>
					<%= project.fields_for :project_payment_schedules do |project_payment_schedule| %>
						<%= project_payment_schedule.hidden_field :payment_id, value: payment.id %>
						<tr>
							<%= render partial: "project_payment_schedules/project_payment_schedules_form", locals: { project_payment_schedule: project_payment_schedule, payment: payment, index: index } %>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<div class="row pull-right">
		<div class="col-md-5 <%= 'hide' unless @project.is_closed? %> status">
			<%= project.check_box :status, { class: "pull-left", disabled: @project.status == "Closed"}, "Closed", "Open" %>
			<%= label_tag "Closed" %>
		</div>
		<div class="col-md-3">
			<%= project.submit "Submit", class: "btn btn-success" %>
		</div>
		<div class="col-md-4 <%= 'hide' unless @project.is_closed? %> send-email-to-client">
			<%= link_to "Email", "javascript:void(0)", class: "btn btn-primary email-to-client", data: { client_email: @insp_request.try(:client).try(:email), inspector_full_name: @appointment.try(:inspector).try(:name), inspector_name: @appointment.try(:inspector).try(:firstName), client_name: @insp_request.try(:client).try(:firstName)} %>
		</div>
	</div>
<% end %>