<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Permit</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-hover table-responsive'>
      <thead>
        <tr>
          <th>Permit Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Reference</td>
          <td><%= @permit.reference %></td>
        </tr>
        <tr>
          <td>Project</td>
          <td><%= @permit.try(:project).try(:title) %></td>
        </tr>
        <tr>
          <td>Issue Date</td>
          <td><%= @permit.try(:issueDate).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Issued by</td>
          <td><%= @permit.issuedBy %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= @permit.status %></td>
        </tr>
        <tr>
          <td>Valuation</td>
          <td><%= @permit.valuation %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to "Back", permits_path, class: "btn btn-info pull-right" %>