<%= simple_form_for(@insp_request) do |f| %>
  <%= select_tag :property, options_from_collection_for_select(Property.all,:id, :zip), id: 'select-beast' %>
  <div class="field">
    <%= f.label :callTime %><br>
    <%= f.datetime_select :callTime %>
  </div>
  <div class="field">
    <%= f.label :callerType %><br>
    <%= f.text_field :callerType %>
  </div>
  <div class="field">
    <%= f.label :referalSource %><br>
    <%= f.text_field :referalSource %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :agent_id %><br>
    <%= f.number_field :agent_id %>
  </div>
  <div class="field">
    <%= f.label :property_id %><br>
    <%= f.number_field :property_id %>
  </div>
  <div class="field">
    <%= f.label :selectInsp %><br>
    <%= f.text_field :selectInsp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    $('#select-beast').selectize({
      create: true,
      sortField: 'text'
    });

  })
  
</script>