<%= simple_form_for(@insp_request) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
              <%= f.label 'Call Date & Time' %>
              <div class='input-group date' id='datetimepicker1'>
                  <%= f.text_field :callTime, class: 'form-control' %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label 'Referral Source' %>
            <%= f.select :referalSource, InspRequest::REFERRAL_SOURCE.map{|v| [v, v]}, {:prompt => "Select Referral Source" }, {class: 'form-control'} %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.association :property, :collection => @properties, :label_method => :property_select_value, label: 'Select Property', input_html:{ class: 'property_select', data: {filtertype: 'property_clients'}}, :prompt => "Select Property" %>
      </div>
      <span class="col-md-1">
        <%= link_to raw("<i class='fa fa-plus plus-sign'></i> Add"), new_property_path, remote: true, class: 'static-popup-link' %>
      </span>
      <div class="col-md-3">
        <%= f.association :client, :collection => @clients, :label_method => :firstName, label: 'Select Customer', input_html: { class: 'client_select', data: {filtertype: 'client_agents'}, disabled: (f.object.new_record? ? true : false)}, :prompt => "Select Customer" %>
      </div>
      <span class="col-md-1">
        <%= link_to raw("<i class='fa fa-plus plus-sign'></i> Add"), "#"  %>
      </span>
      <div class="col-md-3">
        <%= f.association :agent, :collection => @agents, :label_method => :firstName, label: 'Select Agent', input_html:{ class: 'agent_select', disabled: (f.object.new_record? ? true : false) }, :prompt => "Select Agent" %>
      </div>
      <span class="col-md-1">
        <%= link_to raw("<i class='fa fa-plus plus-sign'></i> Add"), "#"  %>
      </span>
    </div>
      
    <div class="actions">
      <%= f.button :submit, class: 'btn btn-success' %>
      <%= link_to 'Back', insp_requests_path, class: 'btn btn-info' %>
    </div>
  <% end %>
  </div>
</div>
<div class="modal" id="property-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Property</h4>
      </div>
      <div class="modal-body" id="property_body">

      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#datetimepicker1').datetimepicker({
      format: 'YYYY-MM-DD hh:mm:ss'
    });
  })

</script>