<%= simple_form_for(@insp_request) do |f| %>
  <div class="form-group">
    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
              <%= f.label 'Call Date & Time' %>
              <div class='input-group date' id='datetimepicker1'>
                  <%= f.text_field :callTime, class: 'form-control' %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.association :property, :collection => Property.all, :label_method => :property_select_value, label: 'Select Property', input_html:{ class: 'select-search property_select', data: {filtertype: 'property_clients'} }, :prompt => "Select Property" %>
      </div>
      <div class="col-md-4 client_dropdown">
        <%= f.association :client, :collection => Client.all, :label_method => :firstName, label: 'Select Customer', input_html: { class: 'select-search client_select', data: {filtertype: 'client_agents'} }, :prompt => "Select Customer" %>
      </div>
      <div class="col-md-4">
        <%= f.association :agent, :collection => Agent.all, :label_method => :firstName, label: 'Select Agent', input_html:{ class: 'select-search agent_select' }, :prompt => "Select Agent" %>
      </div>
    </div>
      
    <div class="actions">
      <%= f.button :submit, class: 'btn btn-success' %>
      <%= link_to 'Back', insp_requests_path, class: 'btn btn-info' %>
    </div>
  <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#datetimepicker1').datetimepicker({
      format: 'YYYY-MM-DD hh:mm:ss'
    });
  })
  
</script>