<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Inspection Request</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class='col-sm-12'>
        <div class="form-group">
          <strong>Call Time:</strong>
          <%= @insp_request.call_time %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12'>
        <div class="form-group">
          <strong>Caller type:</strong>
          <%= @insp_request.callerType %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12'>
        <div class="form-group">
          <strong>Referral Source:</strong>
          <%= @insp_request.referalSource %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12'>
        <div class="form-group">
          <strong>Client:</strong>
          <%= @insp_request.client.try(:firstName) %>
          <% if @insp_request.client %>
            <span class="link">
              <%= link_to "Details", client_path(@insp_request.client), remote: true %>
            </span>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12'>
        <div class="form-group">
          <strong>Agent:</strong>
          <%= @insp_request.agent.try(:firstName) %>
          <% if @insp_request.agent %>
            <span class="link">
              <%= link_to "Details", agent_path(@insp_request.agent), remote: true %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12'>
        <div class="form-group">
          <strong>Property:</strong>
          <%= @insp_request.property.try(:street) %>
          <% if @insp_request.property %>
            <span class="link">
              <%= link_to "Details", property_path(@insp_request.property), remote: true %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12'>
        <div class="form-group">
          <strong>Select Insp:</strong>
          <%= @insp_request.selectInsp %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="add-appointment-form">
  <%= render partial: '/appointments/form' %>
</div>
<div class="modal modal-details" tabindex="-1" role="dialog" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>