<p id="notice"><%= notice %></p>

<p>
  <strong>Calltime:</strong>
  <%= @insp_request.callTime %>
</p>

<p>
  <strong>Callertype:</strong>
  <%= @insp_request.callerType %>
</p>

<p>
  <strong>Referalsource:</strong>
  <%= @insp_request.referalSource %>
</p>

<p>
  <strong>Client:</strong>
  <%= @insp_request.client_id %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @insp_request.agent_id %>
</p>

<p>
  <strong>Property:</strong>
  <%= @insp_request.property_id %>
</p>

<p>
  <strong>Selectinsp:</strong>
  <%= @insp_request.selectInsp %>
</p>

<%= link_to 'Edit', edit_insp_request_path(@insp_request) %> |
<%= link_to 'Back', insp_requests_path %>
