<%= simple_form_for(@commission) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.association :inspector, as: :select, collection: @inspectors, label_method: :name, selected: f.object.inspector_id , label: "Select Inspector", include_blank: "Select Inspector" %>
    </div>
    <div class="col-md-6">
      <%= f.association :commission_rate, as: :select, collection: @commission_rates, label_method: :commission_rate_select, selected: f.object.commission_rate_id , label: "Select Commission Rate", include_blank: "Select Commission Rate" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :percentage %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
