<%= form_for(@proj_insp) do |f| %>
  <% if @proj_insp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proj_insp.errors.count, "error") %> prohibited this proj_insp from being saved:</h2>

      <ul>
      <% @proj_insp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :reference %><br>
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :scheduleDate %><br>
    <%= f.date_select :scheduleDate %>
  </div>
  <div class="field">
    <%= f.label :inspectBy %><br>
    <%= f.text_field :inspectBy %>
  </div>
  <div class="field">
    <%= f.label :completeDate %><br>
    <%= f.date_select :completeDate %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
