<%= simple_form_for(@proj_insp) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.association :project, as: :select, collection: @projects, label_method: :title %>
    </div>
    <div class="col-md-6">
      <%= f.input :reference %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= label_tag "Schedule Date" %>
        <div class="form-group <%= 'has-error' if f.object.errors["scheduleDate"].first %>">
          <div class='input-group date'>
            <%= f.text_field :scheduleDate, class: "form-control", value: f.object.try(:scheduleDate) %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <span class="help-block"><%= f.object.errors["scheduleDate"].first %></span>
        </div>
    </div>
    <div class="col-md-6">
      <%= f.input :inspectBy, label: "To be Inspected By" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= label_tag "Completed Date" %>
        <div class="form-group <%= 'has-error' if f.object.errors["completeDate"].first %>">
          <div class='input-group date'>
            <%= f.text_field :completeDate, class: "form-control", value: f.object.try(:completeDate) %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <span class="help-block"><%= f.object.errors["completeDate"].first %></span>
        </div>
    </div>
    <div class="col-md-6">
      <%= f.input :result %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>
<% end %>
<script type="text/javascript">
  $('.input-group.date').datepicker({
    format: 'yyyy-mm-dd'
  });
</script>