<h1>Listing Project Inspections</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Project</th>
      <th>Reference</th>
      <th>Scheduled Date</th>
      <th>Inspected By</th>
      <th>Completed Date</th>
      <th>Result</th>
      <% if request.format == 'text/html' %>
        <th colspan="3 text-center">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @proj_insps.each do |proj_insp| %>
      <tr>
        <td><%= proj_insp.project_id %></td>
        <td><%= proj_insp.reference %></td>
        <td><%= proj_insp.try(:scheduleDate).try(:strftime, "%d %b %Y") %></td>
        <td><%= proj_insp.inspectBy %></td>
        <td><%= proj_insp.try(:completeDate).try(:strftime, "%d %b %Y") %></td>
        <td><%= proj_insp.result %></td>
        <% if request.format == 'text/html' %>
          <td>
            <%= link_to proj_insp, class: 'btn btn-primary' do %>
              <i class='fa fa-eye'></i> Show
            <% end %>
          </td>
          <td>
            <%= link_to edit_proj_insp_path(proj_insp), class: 'btn btn-info' do %>
              <i class='fa fa-pencil-square-o'></i> Edit
            <% end %>
          </td>
          <td>
            <%= link_to proj_insp, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class='fa fa-trash-o'></i> Destroy
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if request.format == 'text/html' %>
  <%= link_to raw("<i class='fa fa-plus-square-o'></i> New Project Inspection"), new_proj_insp_path, :class => "btn btn-info" %>
  <%= link_to raw("<i class='fa fa-file'></i> Export To CSV"), proj_insps_path(format: :csv),class: "btn btn-info" %>
  <%= link_to raw("<i class='fa fa-print'></i> Print"), print_proj_insps_path, remote: true,class: "btn btn-info" %>
<% end %>
