<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Project Inspection</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-hover table-responsive'>
      <thead>
        <tr>
          <th>Project Inspection Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Project</td>
          <td><%= @proj_insp.try(:project).try(:title) %></td>
        </tr>
        <tr>
          <td>Reference</td>
          <td><%= @proj_insp.reference %></td>
        </tr>
        <tr>
          <td>Scheduled Date</td>
          <td><%= @proj_insp.try(:scheduleDate).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>To be Inspected By</td>
          <td><%= @proj_insp.inspectBy %></td>
        </tr>
        <tr>
          <td>Completed Date</td>
          <td><%= @proj_insp.try(:completeDate).try(:strftime, "%d %b %Y") %></td>
        </tr>
        <tr>
          <td>Result</td>
          <td><%= @proj_insp.result %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Back', proj_insps_path, class: 'btn btn-info pull-right' %>
