<%= javascript_include_tag "appointments" %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">Add Appointment</h1>
  </div>
  <div class="panel-body">
    <%= simple_form_for @appointment, html: { remote: true } do |f| %>
      <%= f.error_notification %>
      <%= f.hidden_field :inspRequest_id, value: ( @insp_request.try(:id) || f.object.inspRequest_id ) %>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :contact, label: "Contact Person to meet at Inspection Site" %>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.association :inspector, as: :select, label: "Inspector Selected", collection: @inspectors, disabled: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :notes %>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :schedStart, as: :string, input_html: { value: f.object.try(:schedStart).try(:strftime, "%d %b %Y %H:%M:%S")} , disabled: true, label: "Start Date" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :inspFee, label: "Inspection Fee", value: number_with_precision(f.object.try(:inspFee), precision: 2) %>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :schedEnd, as: :string, input_html: { value: f.object.try(:schedEnd).try(:strftime, "%d %b %Y %H:%M:%S")} , disabled: true, label: "End Date" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :prepaid, as: :boolean, checked_value: true, unchecked_value: false %>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class="form-group">
            <%= check_box_tag 'client_property[escrow]', true ,@client_property.try(:escrow) %>
            <label class="boolean optional">Escrow</label>
            <%= hidden_field_tag 'client_property[property_id]', @insp_request.property_id %>
            <%= hidden_field_tag 'client_property[client_id]', @insp_request.client_id %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :amount_received, value: number_with_precision(f.object.try(:amount_received), precision: 2) %>
          </div>
        </div>
        <div class='col-sm-6 escrow_date'>
          <div class="form-group">
            <label class="control-label">Escrow Date</label>
            <%= text_field_tag :escrowDate, nil, class: 'form-control datepicker', name: 'client_property[escrowDate]', value: @client_property.try(:escrowDate).try(:strftime, "%Y-%m-%d") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6 payment_method'>
          <div class="form-group">
            <%= f.input :pmtMethod, as: :select, collection: Appointment::PAYMENT_METHOD.map{|v| [v, v]}, label: "Payment Method" %>
          </div>
        </div>
      </div>
      <div class="pull-left">
        <%= link_to "Back", insp_requests_path, class: 'btn btn-primary' %>
      </div>
      <div class="pull-right">
        <%= link_to "Schedule Inspection", appointments_path(id: @insp_request), class: "btn btn-primary" %>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <% unless @appointment.empty? %>
          <%= link_to "Print", print_appointment_path(@appointment), remote: true, class: 'btn btn-warning' %>
          <%= link_to "Email", send_email_appointment_path(@appointment), remote: true, class: 'btn btn-info send_email', onclick: "loadingHide()" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br/>
</div>
<div class="loading text-center hide">
  <%= image_tag('loading.jpg') %>
</div>
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false"></div>
<script>
  function loadingHide(){
    $('.loading').removeClass('hide');
  }
  $(document).ready(function(){
    $('.datepicker').datepicker({ 
      format: 'yyyy-mm-dd'
    });
    <% if @appointment.prepaid %>
      $(".payment_method").show();
    <% else %>
      $(".payment_method").hide();
    <% end %>
    <% if @client_property.try(:escrow) %>
      $(".escrow_date").show();
    <% else %>
      $(".escrow_date").hide();
    <% end %>
  });
</script>