<%= javascript_include_tag "appointments" %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Add Appointment</h1>
  </div>
  <div class="panel-body">
    <%= simple_form_for @appointment, html: { remote: true } do |f| %>
      <%= f.error_notification %>
      <%= f.hidden_field :inspRequest_id, value: ( @insp_request.try(:id) || f.object.inspRequest_id ) %>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :contact, label: "Contact Person to meet at Inspection Site" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :notes %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :inspFee, label: "Inspection Fee" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :prepaid, as: :boolean, checked_value: true, unchecked_value: false %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= f.input :amount_received, as: :boolean, checked_value: true, unchecked_value: false %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6 payment_method'>
          <div class="form-group">
            <%= f.input :pmtMethod, as: :select, collection: Appointment::PAYMENT_METHOD.map{|v| [v, v]}, label: "Payment Method" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= link_to "Schedule Inspection", schedule_inspection_appointment_path %>
          </div>
        </div>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <br/>
</div>
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false"></div>
<script>
$(".payment_method").hide();
</script>