<div class="right">
  <%= select_tag "inspector", options_for_select(@inspectors), class: "form-control inspector_select", prompt: "Select Inspector" %>
</div>
<div class="left">
  <span>
    <% if @appointment %>
      <%= link_to "Back", insp_request_path(@appointment.insp_request), class: "btn btn-primary right" %>
    <% end %>
  </span>
  <br></br>
  <div class="datepicker datepicker-left"></div>
  <div class="full-calendar border"></div>
</div>
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false"></div>
<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
      daysOfWeekDisabled: [0],
      todayHighlight: true
    });

    $('.datepicker').on('changeDate', function (dateText) {
      $('.full-calendar').fullCalendar('gotoDate',new Date(Date.parse(dateText.date)));
      var defaultView = $('.full-calendar').fullCalendar('getView').name;
      $('.full-calendar').fullCalendar("changeView", defaultView);
    });
  })
    
  $('.full-calendar').fullCalendar({
    header: {
      left: '',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    defaultView: 'agendaWeek',
    editable: <%= @editable %>,
    hiddenDays: [0],
    selectable: <%= @editable %>,
    selectHelper: true,
    firstDay:1,
    eventStartEditable: false,
    slotEventOverlap: true,
    timeFormat: 'hh:mm A',
    eventClick: function(cal_event, js_event, view){
      <% if @editable %>
        calendar_event_clicked(cal_event, js_event, view);
      <% end %>
    },
    eventSources: [
      {
        url: '/appointments.json'
      },
      {
        url: '/appointments/background_events.json'
      }
    ],
    select: function(start, end, jsEvent, view) {
      <% if @editable %>
        $('.modal').html('<%= escape_javascript(render partial: "schedule_inspection") %>');
        $(".start_date").val(start.format("YYYY-MM-DD"));
        $(".end_date").val(start.format("YYYY-MM-DD"));
        $(".start_time").val(start.format("h:mm A"));
        var end_time = start.add(2, 'hours').add(30, 'minutes');
        $(".end_time").val(end_time.format("h:mm A"));
        $(".modal").modal('show');
      <% end %>
    }
  });

  function calendar_event_clicked(cal_event, js_event, view){
    $.ajax({
      type: "GET",
      url: "/appointments/" + cal_event.id + "/edit.js"
    });
  }

  function update(view){
    var inspector_id = $(".inspector_select").val();
    loadAppointments(view, inspector_id);
  }

  $(".inspector_select").change(function(){
    var inspector_id = $(this).val();
    var defaultView = $('.full-calendar').fullCalendar('getView')
    loadAppointments(defaultView, inspector_id);
  });

  function renderBackground(startDate, endDate){
    var events = new Array();
    var currentDate = startDate;
    var tHash = {"9:00": "#D5B8EE", "11:30": "FFFFFF", "14:00": "#E5E7B6"};

    while (startDate <= endDate) {
      for (var key in tHash){
        var startTime = key.split(":");
        var hours = parseInt(startTime[0]);
        var minutes = parseInt(startTime[1]);
        events.push({
          start: currentDate.hours(hours).minutes(minutes).format("YYYY-MM-DD h:m A"),
          end: currentDate.hours(hours + 2).minutes(minutes + 30).format("YYYY-MM-DD h:m A"),
          rendering: 'background',
          color: tHash[key]
        })
      }
      currentDate = startDate.add(1, 'days');
    }
    return events
  }

  function loadAppointments(view, inspector_id){
    var start_date = view.start.format("YYYY-MM-DD");
    var end_date = view.end.format("YYYY-MM-DD");
    events = renderBackground(moment(start_date), moment(end_date));
    $.ajax({
      type: "GET",
      url: "/appointments/get_scheduled_appointments",
      data: { start_date: start_date, end_date: end_date, view_type: view.name, inspector_id: inspector_id},
      dataType: 'JSON',
      success: function(result){
        $('.full-calendar').fullCalendar('removeEvents');
        $('.full-calendar').fullCalendar('addEventSource', result );
        $('.full-calendar').fullCalendar('addEventSource', events );
      }
    });
  }
</script>