<%= simple_form_for(@receipt) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :reference %>
    </div>
    <div class="col-md-6">
      <%= label_tag "Receipt Date" %>
      <div class="form-group <%= 'has-error' if f.object.errors["date"].first %>">
        <div class='input-group date'>
          <%= f.text_field :date, class: "form-control", value: f.object.try(:date) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["date"].first %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.association :invoice, collection: @invoices, label_method: :invoice_select_dropdown %>
    </div>
    <div class="col-md-6">
      <%= f.input :amount, label: "Amount Received" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :recBy, label:"Received By" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>
<% end %>
<script type="text/javascript">
  $('.input-group.date').datepicker({
    format: 'yyyy-mm-dd'
  }).datepicker("setDate", new Date());
</script>