<!-- <script src="/assets/common.js"></script> -->
<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th> Receipt Number </th>
      <th> Reference </th>
      <th> Client </th>
      <th> Receipt Date </th>
      <th> Amount Received </th>
      <th> Received By </th>
      <th> Invoice </th>
      <th> Invoice Balance </th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.id %></td>
        <td><%= receipt.reference %></td>
        <td><%= receipt.try(:invoice).try(:inspection).try(:appointment).try(:insp_request).try(:client).try(:name) %></td>
        <td><%= receipt.date %></td>
        <td><%= receipt.amount %></td>
        <td><%= receipt.recBy %></td>
        <td><%= receipt.try(:invoice).try(:invoice_select_dropdown) %></td>
        <td><%= receipt.try(:invoice).try(:amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% unless request.path == "/receipts/print" %>
  <%= link_to raw("<i class='fa fa-print'></i> Print"), "#", remote: true, class: "btn btn-info", id: "print-receipts", :data => {:name => 'Stephen' } %>
<% end %>
<script type="text/javascript">
  $("#print-receipts").click(function(){
    var startdate = $("#start_date").val();
    var enddate = $("#end_date").val();
    $.ajax({
      url: '<%= print_receipts_path %>',
      type: 'get',
      data: {start_date: startdate, end_date: enddate},
      success: function() {}
    });
  });
</script>

