<h1>Listing Receipts</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Receipt Date</th>
      <th>Invoice</th>
      <th>Amount Received</th>
      <th>Recby</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.reference %></td>
        <td><%= receipt.date %></td>
        <td><%= receipt.invoice_id %></td>
        <td><%= receipt.amount %></td>
        <td><%= receipt.recBy %></td>
        <td>
          <%= link_to receipt, class: 'btn btn-primary' do %>
            <i class='fa fa-eye'></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_receipt_path(receipt), class: 'btn btn-info' do %>
            <i class='fa fa-pencil-square-o'></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to receipt, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-trash-o'></i> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Receipt"), new_receipt_path, :class => "btn btn-info" %>
