<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @receipt.reference %>
</p>

<p>
  <strong>Date:</strong>
  <%= @receipt.date %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @receipt.invoice_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @receipt.amount %>
</p>

<p>
  <strong>Recby:</strong>
  <%= @receipt.recBy %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
