<%= simple_form_for(@comm_history) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.association :bid, as: :select, collection: @bids, label: "Select Bid", include_blank: "Select Bid" %>
    </div>
    <div class="col-md-6 inspector_info <%= 'hide' unless f.object.bid_id %>">
      <%= label_tag "Inspector" %>
      <%= text_field_tag "inspector_name", f.object.try(:bid).try(:inspection).try(:appointment).try(:inspector).try(:name), class: "insp_request inspector_info form-control", disabled: true %>
    </div>
  </div>
  <br/>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :caller %>
    </div>
    <div class="col-md-4">
      <%= f.input :recipient %>
    </div>
    <div class="col-md-4">
      <%= f.input :recipient, label: "Call Time" %>
    </div>
  </div>
  <div class="insp_request <%= 'hide' unless f.object.bid_id %> ">
    <% if f.object.bid_id %>
      <% @insp_request = f.object.try(:bid).try(:inspection).try(:appointment).try(:insp_request) %>
      <%= render 'insp_requests/insp_request_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-4">
      <div>
        <%= radio_button_tag 'comm_history[status]', 'Closed', f.object.try(:bid).try(:status) == "Closed" %>
        <%= label_tag "Verbal Close" %>
      </div>
      <div>
        <%= radio_button_tag 'comm_history[status]', 'Not Interested', f.object.try(:bid).try(:status) == "Not Interested" %>
        <%= label_tag "Not Interested" %>
      </div>
      <div>
        <%= radio_button_tag 'comm_history[status]', 'CallBack', f.object.try(:bid).try(:status) == "CallBack" %>
        <%= label_tag "CallBack" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label 'Call Back Date' %>
        <div class='input-group date'>
          <%= f.text_field :callBackDate, class: "form-control", value: f.object.try(:callBackDate).try(:strftime, "%Y-%m-%d") %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.input :callSummary %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :notes %>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
<script type="text/javascript">
  $("#comm_history_bid_id").on('change', function(){
    var bid_id = $(this).val();
    if(bid_id != ""){
      $.ajax({
        url: '/comm_histories/' + bid_id + '/insp_request_info',
        type: 'GET'
      });
    }
    else{
      alert("Please select Bid.")
      $(".inspector_info").addClass("hide");
      $(".insp_request").addClass("hide");
    }
  });
  $('.input-group.date').datepicker({ 
    format: 'yyyy-mm-dd'
  });
</script>