<%= simple_form_for(@comm_history) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.association :bid, as: :select, collection: @bids, label: "Select Bid", include_blank: "Select Bid" %>
    </div>
    <div class="col-md-6 inspector_info <%= 'hide' unless f.object.bid_id %>">
      <%= label_tag "Inspector" %>
      <%= text_field_tag "inspector_name", f.object.try(:bid).try(:inspection).try(:appointment).try(:inspector).try(:name), class: "insp_request inspector_info form-control", disabled: true %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :caller, input_html: { value: current_user.try(:name) } %>
    </div>
    <div class="col-md-4">
      <%= f.input :recipient %>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label 'Call Time' %>
        <div class='input-group datetimepicker'>
          <%= f.text_field :call_time, class: 'form-control', value: f.object.try(:call_time).try(:strftime, "%Y-%m-%d %H:%M:%S") %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="insp_request <%= 'hide' unless f.object.bid_id %> ">
    <% if f.object.bid_id %>
      <% @insp_request = f.object.try(:bid).try(:inspection).try(:appointment).try(:insp_request) %>
      <%= render 'insp_requests/insp_request_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>

  <fieldset><legend></legend></fieldset>
  <div class="client_info <%= 'hide' unless f.object.bid_id %> ">
    <% if f.object.bid_id %>
      <% @insp_request = f.object.try(:bid).try(:inspection).try(:appointment).try(:insp_request) %>
      <%= render 'insp_requests/client_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>

  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-4">
      <div>
        <%= f.radio_button :callOutcome, "Verbal Close" %>
        <%= f.label "Verbal Close" %>
      </div>
      <div>
        <%= f.radio_button :callOutcome, "Not Interested" %>
        <%= f.label "Not Interested" %>
      </div>
      <div>
        <%= f.radio_button :callOutcome, "Follow-up" %>
        <%= f.label "Follow-up" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group call_back_date <%= 'hide' unless f.object.callOutcome == "Follow-up" %> <%= 'has-error' if f.object.errors["callBackDate"].first %>">
        <%= f.label 'Call Backdate' %>
        <div class='input-group date'>
          <%= f.text_field :callBackDate, class: "form-control", value: f.object.try(:callBackDate).try(:strftime, "%Y-%m-%d") %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block"><%= f.object.errors["callBackDate"].first %></span>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.input :callSummary %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :notes %>
    </div>
  </div>
  <br/>
  <div class="actions pull-right">
    <%= f.submit 'Submit', class: "btn btn-primary" %>
    <%= link_to "Back", comm_histories_path, class: "btn btn-info" %>
    <%= link_to "Email", "javascript:void(0)", class: "btn btn-success email hide", onclick: "sendEmail()", data: { client_email: @bid.try(:inspection).try(:appointment).try(:insp_request).try(:client).try(:email) } %>
  </div>
<% end %>
<div class="modal modal-details" tabindex="-1" role="dialog" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#comm_history_bid_id").on('change', function(){
    var bid_id = $(this).val();
    if(bid_id != ""){
      $.ajax({
        url: '/comm_histories/' + bid_id + '/bid_info',
        type: 'GET'
      });
    }
    else{
      alert("Please select Bid.")
      $(".inspector_info").addClass("hide");
      $(".insp_request").addClass("hide");
      $(".client_info").addClass("hide");
      $(".email").addClass("hide");
    }
  });
  $('.input-group.date').datepicker({
    format: 'yyyy-mm-dd'
  });
  $('.datetimepicker').datetimepicker({
    format: 'YYYY-MM-DD hh:mm:ss',
    defaultDate: new Date()
  });
  $("input[name='comm_history[callOutcome]']").change(function(){
    if ($(this).val() == "Follow-up"){
      $(".call_back_date").removeClass('hide');
      $("#comm_history_callSummary").val("Default Follow-up contents");
    }
    else{
      $(".call_back_date").addClass('hide');
      $("#comm_history_callSummary").val("");
    }
  });

  function sendEmail(){
    var email = $(".email").attr('data-client-email');
    var bidName = $("#comm_history_bid_id option:selected").text().replace('Select Bid\n', '')
    var callSummaryText = $("#comm_history_callSummary").val();
    var link = 'mailto:' + email + '?subject=' + bidName + '&body=' + callSummaryText;
    window.location.href = link;
  }

  <% if @comm_history.bid_id %>
    $(".email").removeClass('hide');
  <% end %>
</script>