<%= simple_form_for(@inspection) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :fCondition, label: "Foundation Condition" %>
    </div>
    <div class="col-md-6">
      <%#= f.association :appointment, :collection => @appointments, :label_method => :property_select_value, label: 'Select Appointment', :prompt => "Select Appointment" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :nOD, label: "Number Of Days" %>
    </div>
    <div class="col-md-6">
      <%= f.input :nOG, label: "Number Of Guys" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :reportURL %>
    </div>
    <div class="col-md-6">
      <%= f.input :footprintURL %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :repairs, label: "Repairs Needed" %>
    </div>
    <div class="col-md-6">
      <%= f.input :permit, label: "Permit Needed" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :verifiedReport, label: "Verified Report" %>
    </div>
    <div class="col-md-6">
      <%= f.input :verifiedComp, label: "Verified Completed" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :notes %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-success' %>
    <%= link_to 'Back', inspections_path, class: 'btn btn-info' %>
  </div>
<% end %>
