<div class="inspection-form">
<%= simple_form_for(@inspection, multipart: true, html: {id: "inspection-form"}) do |f| %>
  <%= f.error_notification %>
  <% if f.object.errors["documents"].present? %>
    <p class="alert alert-danger">
      Either Miscellaneous or Email Documents are invalid.
    </p>
  <% end %>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name %>
    </div>
    <div class="col-md-4">
      <%= f.association :appointment, :collection => @appointments, :label_method => :appointment_select, label: 'Select Appointment', :prompt => "Select Appointment" %>
    </div>
    <div class="col-md-4 appointment <%= 'hide' unless f.object.appointment_id %>">
      <%= label_tag "Inspector" %>
      <%= text_field_tag "inspector_name", f.object.try(:appointment).try(:inspector).try(:name), class: "appointment inspector form-control", disabled: true %>
    </div>
  </div>
  <div class="appointment_info <%= 'hide' unless f.object.appointment_id %> ">
    <% if f.object.appointment_id %>
      <% @insp_request = f.object.try(:appointment).try(:insp_request) %>
      <%= render 'insp_requests/insp_request_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="client_info <%= 'hide' unless f.object.appointment_id %> ">
    <% if f.object.appointment_id %>
      <% @insp_request = f.object.try(:appointment).try(:insp_request) %>
      <%= render 'insp_requests/client_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :fCondition, as: :select, label: "Foundation Condition", collection: Inspection::FOUNDATION_CONDITION.map{|v| [v, v]}, prompt: "Select Foundation Condition" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :nOD, label: "Number Of Days" %>
    </div>
    <div class="col-md-6">
      <%= f.input :nOG, label: "Number Of Guys" %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :completed_appointment_sheet, as: :file, input_html: { accept: ".pdf, .jpg, .png"} %>
    </div>
    <div class="col-md-3 margin-top-25 blue-link">
      <% if f.object.try(:completed_appointment_sheet) %>
        <%= f.object.completed_appointment_sheet_file_name %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= f.input :client_information_sheet, as: :file, input_html: { accept: ".pdf, .jpg, .png"} %>
    </div>
    <div class="col-md-3 margin-top-25 blue-link">
      <% if f.object.try(:completed_appointment_sheet) %>
        <%= f.object.client_information_sheet_file_name %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :footprint_diagram, as: :file, input_html: { accept: ".pdf, .jpg, .png"} %>
    </div>
    <div class="col-md-3 margin-top-25 blue-link">
      <% if f.object.try(:completed_appointment_sheet) %>
        <%= f.object.footprint_diagram_file_name %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= f.input :report, as: :file, input_html: { accept: ".pdf, .doc, .docx"}  %>
    </div>
    <div class="col-md-3 margin-top-25 blue-link">
      <% if f.object.try(:completed_appointment_sheet) %>
        <%= f.object.report_file_name %>
      <% end %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :verifiedReport, label: "Verified Report" %>
    </div>
    <div class="col-md-6">
      <%= f.input :verifiedComp, label: "Verified Completed" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :repairs, label: "Repairs Needed" %>
    </div>
    <div class="col-md-6">
      <%= f.input :interiorAccess, label: "Interior Access Required" %>
    </div>
    <div class="col-md-6">
      <%= f.input :notes %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <%= label_tag "Miscellaneous documents" %>
    <%= file_field_tag 'document_attributes[]', multiple: true, id: "documentFile",  accept: ".pdf, .doc, .docx"%>
    <div class="col-md-6 document_attributes preview">
      <div class="text-center">No Preview Available.</div>
    </div>
    <div class='uploaded-other-documents'>
      <%= render partial: "documents/documents", locals: { documents: @inspection.documents.other_documents } unless f.object.documents.other_documents.blank? %>
    </div>
    </div>
  <br/>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <%= label_tag "Email documents" %>
    <%= file_field_tag 'email_document_attributes[]', multiple: true, id: "emailDocumentFile",  accept: ".pdf"%>
    <div class="col-md-6 email_document_attributes preview">
      <div class="text-center">No Preview Available.</div>
    </div>
    <div class='uploaded-email-documents'>
      <%= render partial: "documents/documents", locals: { documents: @inspection.documents.email_documents } unless f.object.documents.email_documents.blank? %>
    </div>
    </div>
  <br/>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-success submit-button' %>
    <%= link_to 'Back', inspections_path, class: 'btn btn-info' %>
  </div>
<% end %>
</div>
<div class="modal modal-details" tabindex="-1" role="dialog" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#inspection_appointment_id").on('change', function(){
    var appointment_id = $(this).val();
    if(appointment_id != ""){
      $.ajax({
        url: '/inspections/' + appointment_id + '/appointment_info',
        type: 'GET'
      });
    }
    else{
      alert("Please select appointment.")
      $(".appointment_info").addClass("hide");
      $(".appointment").addClass("hide");
    }
  });

  function getDocumentImages(type, target){
    var imgName;
    if (type == 'docx' || type == 'doc' || type == 'pdf'){
      imgName = '/assets/' + type + '_icon.png'
    }
    else{
      imgName =  target;
    }
    return imgName;
  }

  var filesList = new Array();
  var documentFilesList = []
  var emailFilesList = new Array();
  function loadPreview(divPreview, filesList, e){
    divPreview.html("");
    $(filesList).each(function (index, file) {
      var file = $(this);
      var fileName = file[0].name;
      var fileExt = fileName.toLowerCase().split(".").slice(-1)[0];
      var documentImage = getDocumentImages(fileExt, e.target.result);
      var previewContentDiv = $("<div/>");
      var img = $("<img/>")
      img.attr("style", "height:100px;width:100px;border-radius: 8px;").attr('title', fileName);
      previewContentDiv.append(img);
      previewContentDiv.append("<span>" + fileName + "</span>");
      previewContentDiv.append("<a href='javascript:void(0)' class='fileDiv_" + index + "' onclick='removeImage($(this))'><span class='glyphicon glyphicon-trash pull-right delete-icon' style='margin-top:38px;color:red'></span></a>");
      if (documentImage){
        img.attr('src', documentImage)
      }
      divPreview.append(previewContentDiv);
    });
  }

  function removeImage(container){
    index = container.attr('class').split("fileDiv_")[1];
    container.closest("div").hide();
    filesList.splice(index, 1)
  }

  paramNames = [],
  elem = $("#inspection-form");
  file_upload = elem.fileupload({
  autoUpload: false,
  fileInput: $("#inspection-form input:file").filter("#documentFile,#emailDocumentFile"),
    }).on("fileuploadadd", function(e, data){
      var name = data.paramName
      if( name == "document_attributes[]"){
        documentFilesList.push(data.files[0]);
        loadPreview($("." + name.split("[")[0]),documentFilesList, e)
      }
      else{
        emailFilesList.push(data.files[0])
        loadPreview($("." + name.split("[")[0]),emailFilesList, e)
      }
      filesList.push(data.files[0])
      paramNames.push(e.delegatedEvent.target.name);
    });

  $("#inspection-form").submit(function(event) {
    event.preventDefault();
    file_upload.fileupload('send', {files:filesList, paramName: paramNames});
  });

 
</script>