<%= javascript_include_tag "common" %>
<%= simple_form_for(@inspection, multipart: true, html: {id: "file-dropzone"}) do |f| %>
  <%= f.error_notification %>
  <% if f.object.errors["documents"].present? %>
    <p class="alert alert-danger">
      Either Miscellaneous or Email Documents are invalid.
    </p>
  <% end %>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-4">
      <% @appointment = @appointment || @inspection.try(:appointment) %>
      <%= f.input :name, input_html: { value: "#{@appointment.try(:insp_request).try(:property).try(:property_select_value)}" " - #{(@appointment.try(:schedStart)).try(:to_time).try(:strftime, '%d %b %Y')}" } %>
    </div>
    <div class="col-md-4">
      <%= f.association :appointment, :collection => @appointments, :label_method => :appointment_select, label: 'Select Appointment', :prompt => "Select Appointment", selected: params[:appointment_id] || (params[:inspection] and params[:inspection][:appointment_id]) || f.object.appointment_id %>
    </div>
    <div class="col-md-4 appointment <%= 'hide' unless f.object.appointment_id || params[:appointment_id].present? %>">
      <%= label_tag "Inspector" %>
      <%= text_field_tag "inspector_name", f.object.try(:appointment).try(:inspector).try(:name) || @appointment.try(:inspector).try(:name), class: "appointment inspector form-control", disabled: true %>
    </div>
  </div>
  <div class="appointment_info <%= 'hide' unless f.object.appointment_id || params[:appointment_id].present? %> ">
    <% if f.object.appointment_id || params[:appointment_id].present? %>
      <% @insp_request = f.object.try(:appointment).try(:insp_request) || @appointment.try(:insp_request) %>
      <%= render 'insp_requests/insp_request_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="client_info <%= 'hide' unless f.object.appointment_id || params[:appointment_id].present? %> ">
    <% if f.object.appointment_id || params[:appointment_id].present? %>
      <% @insp_request = f.object.try(:appointment).try(:insp_request) || @appointment.try(:insp_request) %>
      <%= render 'insp_requests/client_info', object: { insp_request: @insp_request } %>
    <% end %>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :fCondition, as: :select, label: "Foundation Condition", collection: Inspection::FOUNDATION_CONDITION.map{|v| [v, v]}, prompt: "Select Foundation Condition" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :nOD, label: "Number Of Days" %>
    </div>
    <div class="col-md-6">
      <%= f.input :nOG, label: "Number Of Guys" %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :completed_appointment_sheet, as: :file, input_html: { accept: ".pdf, .jpg, .png"} %>
    </div>
    <div class="col-md-3 margin-top-25 blue-link">
      <% if f.object.try(:completed_appointment_sheet_file_name) %>
        <%= f.object.completed_appointment_sheet_file_name %>
        <%= link_to '', delete_attached_file_inspection_path(f.object, doc_type: 'completed_appointment_sheet'), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "glyphicon glyphicon-trash" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= f.input :client_information_sheet, as: :file, input_html: { accept: ".pdf, .jpg, .png"} %>
    </div>
    <div class="col-md-3 margin-top-25 blue-link">
      <% if f.object.try(:client_information_sheet_file_name) %>
        <%= f.object.client_information_sheet_file_name %>
        <%= link_to '', delete_attached_file_inspection_path(f.object, doc_type: 'client_information_sheet'), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "glyphicon glyphicon-trash" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :footprint_diagram, as: :file, input_html: { accept: ".pdf, .jpg, .png"} %>
    </div>
    <div class="col-md-3 margin-top-25 blue-link">
      <% if f.object.try(:footprint_diagram_file_name) %>
        <%= f.object.footprint_diagram_file_name %>
        <%= link_to '', delete_attached_file_inspection_path(f.object, doc_type: 'footprint_diagram'), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "glyphicon glyphicon-trash" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= f.input :report, as: :file, input_html: { accept: ".pdf, .doc, .docx"}  %>
    </div>
    <div class="col-md-3 margin-top-25 blue-link">
      <% if f.object.try(:report_file_name) %>
        <%= f.object.report_file_name %>
        <%= link_to '', delete_attached_file_inspection_path(f.object, doc_type: 'report'), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "glyphicon glyphicon-trash" %>
      <% end %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :verifiedReport, label: "Verified Report" %>
    </div>
    <div class="col-md-6">
      <%= f.input :verifiedComp, label: "Verified Completed" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :repairs, label: "Repairs Needed" %>
    </div>
    <div class="col-md-6">
      <%= f.input :interiorAccess, label: "Interior Access Required" %>
    </div>
    <div class="col-md-6">
      <%= f.input :notes %>
    </div>
  </div>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <%= label_tag "Miscellaneous documents" %>
    <%= file_field_tag 'document_attributes[]', multiple: true, id: "documentFile",  accept: ".pdf, .doc, .docx"%>
    <div class="col-md-6 document_preview preview">
      <div class="text-center">No Preview Available.</div>
    </div>
    <% if f.object.documents.present? %>
      <div class="col-md-6">
        <%= label_tag "Uploaded Miscellaneous Documents" %>
        <br/>
        <div class="miscellaneous_documents_div">
          <%= render partial: 'shared/document_listing', locals: { parent: f.object, doc_type: "other_documents" } %>
        </div>
      </div>
    <% end %>
    </div>
  <br/>
  <fieldset><legend></legend></fieldset>
  <div class="row">
    <%= label_tag "Email documents" %>
    <%= file_field_tag 'email_document_attributes[]', multiple: true, id: "emailDocumentFile",  accept: ".pdf"%>
    <div class="col-md-6 email_preview preview">
      <div class="text-center">No Preview Available.</div>
    </div>
    <% if f.object.documents.present? %>
      <div class="col-md-6">
        <%= label_tag "Uploaded Email Documents" %>
        <br/>
        <div class="email_documents_div">
          <%= render partial: 'shared/document_listing', locals: { parent: f.object, doc_type: "email_documents" } %>
        </div>
      </div>
    <% end %>
    </div>
  <br/>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-success submit-button' %>
    <%= link_to 'Back', inspections_path, class: 'btn btn-info' %>
  </div>
<% end %>
<div class="modal modal-details" tabindex="-1" role="dialog" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#inspection_appointment_id").on('change', function(){
    var appointment_id = $(this).val();
    if(appointment_id != ""){
      $.ajax({
        url: '/inspections/' + appointment_id + '/appointment_info',
        type: 'GET'
      });
    }
    else{
      alert("Please select appointment.")
      $(".appointment_info").addClass("hide");
      $(".appointment").addClass("hide");
    }
  });

  loadPreview("documentFile", "document_preview");
  loadPreview("emailDocumentFile", "email_preview");
</script>