<h1>Listing Inspections</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Application</th>
      <th>Foundation Condition</th>
      <th>Business Cards</th>
      <th>Number Of Days</th>
      <th>Number of Guys</th>
      <th>Paid</th>
      <th>Inspection Report URL</th>
      <th>Footprint URL</th>
      <th>Repairs Required</th>
      <th>Permit Required</th>
      <th>Interior Access</th>
      <th>Verified Report</th>
      <th>Verified Complete</th>
      <th>Notes</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= inspection.try(:appointment).try(:appointment_select) %></td>
        <td><%= inspection.fCondition %></td>
        <td><%= inspection.humanize("businessCards") %></td>
        <td><%= inspection.nOD %></td>
        <td><%= inspection.nOG %></td>
        <td><%= inspection.humanize("paid") %></td>
        <td><%= inspection.report_file_name %></td>
        <td><%= inspection.footprintURL %></td>
        <td><%= inspection.humanize("repairs") %></td>
        <td><%= inspection.humanize("permit") %></td>
        <td><%= inspection.humanize("interiorAccess") %></td>
        <td><%= inspection.humanize("verifiedReport") %></td>
        <td><%= inspection.humanize("verifiedComp") %></td>
        <td><%= inspection.notes %></td>
        <td>
          <%= link_to inspection, class: 'btn btn-primary' do %>
            <i class='fa fa-eye'></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_inspection_path(inspection), class: 'btn btn-info' do %>
            <i class='fa fa-pencil-square-o'></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to inspection, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-trash-o'></i> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Inspection"), new_inspection_path, :class => "btn btn-info" %>
