<%= form_tag('/inspections', method: 'get', id: 'search-inspection') do %>
  <div class="row">
    <div class="col-md-3">
    <%= select_tag "search_filter", options_for_select([["Property", "Property"], ["Client", "Client"], ['Representative', 'Agent']]), class: "form-control search_filter", prompt: "Select Search Criteria" %>
    </div>
    <div class="col-md-3">
      <%= select_tag "property_id", options_for_select(@properties), class: "form-control property hide", prompt: "Select Property" %>
      <%= select_tag "client_id", options_for_select(@clients), class: "form-control client hide", prompt: "Select Client" %>
      <%= select_tag "agent_id", options_for_select(@agents), class: "form-control agent hide", prompt: "Select Representative" %>
    </div>
    <div class="col-md-3">
      <a href="javascript:void(0)" class='btn btn-primary searchInspection'>Search</a>
    </div>
  </div>
<% end %>
<h1>Inspections Entry</h1>
<div class="inspection-data">
  <%= render partial: "inspections" %>
</div>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Inspection"), new_inspection_path, :class => "btn btn-info" %>
<%= link_to raw("<i class='fa fa-file'></i> Export To CSV"), inspections_path(format: :csv),class: "btn btn-info" %>
<%= link_to raw("<i class='fa fa-print'></i> Print"), print_inspections_path, remote: true,class: "btn btn-info" %>
<script>
$(".search_filter").change(function(){
  var filter = $(this).val();
  if(filter == "Property"){
    $("select.property").removeClass("hide");
    $("select.client").addClass("hide");
    $("select.agent").addClass("hide");
    $(".property").chosen();
    $(".client").chosen();
    $('.client').chosen('destroy');
    $(".agent").chosen();
    $('.agent').chosen('destroy');
    $('select.client').val('').trigger('chosen:updated');
    $('select.agent').val('').trigger('chosen:updated');
  }
  else if (filter == "Client"){
    $("select.client").removeClass("hide");
    $("select.property").addClass("hide");
    $("select.agent").addClass("hide");
    $(".client").chosen();
    $('.property').chosen();
    $('.property').chosen('destroy');
    $(".agent").chosen();
    $('.agent').chosen('destroy');
    $('select.property').val('').trigger('chosen:updated');
    $('select.agent').val('').trigger('chosen:updated');
  }
  else if(filter == "Agent"){
    $("select.agent").removeClass("hide");
    $("select.property").addClass("hide");
    $("select.client").addClass("hide");
    $(".agent").chosen();
    $(".client").chosen();
    $('.client').chosen('destroy');
    $('.property').chosen();
    $('.property').chosen('destroy');
    $('select.client').val('').trigger('chosen:updated');
    $('select.property').val('').trigger('chosen:updated');
  }
  else if(filter == ""){
    alert("Please select search criteria.")
  }
});

$(".searchInspection").on('click', function(){
  $.ajax({
    url: '/inspections',
    data: $("#search-inspection").serialize()
  })
});
</script>