<h1>Inspection Reports</h1>
<%= form_tag(report_result_inspections_path, method: 'get', remote: true) do %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class='input-group date'>
          <%= text_field_tag :start_date, Date.today, class: "form-control" %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class='input-group date'>
          <%= text_field_tag :end_date, Date.today, class: "form-control" %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= submit_tag "Get Report", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="inspections-data">
  <%= render 'inspections_report' if @inspections.present? %>
</div>
<script>
  $('.input-group.date').datepicker({
    format: 'yyyy-mm-dd'
  });
</script>