<div class="panel panel-primary">
  <div class="panel-heading">
  <h1 class="panel-title">Inspection</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-responsive table-hover'>
      <thead>
        <tr>
          <th>Inspection Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td><%= @inspection.name %></td>
        </tr>
        <tr>
          <td>Application</td>
          <td><%= @inspection.try(:appointment).try(:appointment_select) %></td>
        </tr>
        <tr>
          <td>Foundation Condition</td>
          <td><%= @inspection.fCondition %></td>
        </tr>
        <tr>
          <td>Business cards</td>
          <td><%= @inspection.humanize("businessCards") %></td>
        </tr>
        <tr>
          <td>Number Of Days</td>
          <td><%= @inspection.nOD %></td>
        </tr>
        <tr>
          <td>Number of Guys</td>
          <td><%= @inspection.nOG %></td>
        </tr>
        <tr>
          <td>Paid</td>
          <td><%= @inspection.humanize("paid") %></td>
        </tr>
        <tr>
          <td>Inspection Report URL</td>
          <td><%= link_to_if @inspection.report_file_name, @inspection.report_file_name, @inspection.report.url, class: 'blue-link', target: "_blank" %></td>
        </tr>
        <tr>
          <td>Completed Appointment Sheet URL</td>
          <td><%= link_to_if @inspection.completed_appointment_sheet_file_name, @inspection.completed_appointment_sheet_file_name, @inspection.completed_appointment_sheet.url, class: 'blue-link' %></td>
        </tr>
        <tr>
          <td>Client Information Sheet URL</td>
          <td><%= link_to_if @inspection.client_information_sheet_file_name, @inspection.client_information_sheet_file_name, @inspection.client_information_sheet.url, class: 'blue-link' %></td>
        </tr>
        <tr>
          <td>Footprint diagram of property URL</td>
          <td><%= link_to_if @inspection.footprint_diagram_file_name, @inspection.footprint_diagram_file_name, @inspection.footprint_diagram.url, class: 'blue-link' %></td>
        </tr>
        <tr>
          <td>Repairs Required</td>
          <td><%= @inspection.humanize("repairs") %></td>
        </tr>
        <tr>
          <td>Interior Access</td>
          <td><%= @inspection.humanize("interiorAccess") %></td>
        </tr>
        <tr>
          <td>Verified Report</td>
          <td><%= @inspection.humanize("verifiedReport") %></td>
        </tr>
        <tr>
          <td>Verified Complete</td>
          <td><%= @inspection.humanize("verifiedComp") %></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td><%= @inspection.notes %></td>
        </tr>
        <tr>
          <td>Uploaded Miscellaneous Documents</td>
          <td>
            <% @documents.other_documents.each do |document| %>
              <%= link_to document.attachment_file_name, document.attachment.url, class: 'blue-link', target: "_blank" %>
              <br/>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Uploaded Email Documents</td>
          <td>
            <% @documents.email_documents.each do |document| %>
              <%= link_to document.attachment_file_name, document.attachment.url, class: 'blue-link', target: "_blank" %>
              <br/>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="bid">
      <%= render template: 'bids/index', locals: { bids: @inspection.bids } %>
    </div>
    <p><%= link_to "Add Bid", new_bid_path(inspection_id: @inspection.id), remote: true, class: 'btn btn-info pull-right' %></p>
  </div>
</div>
<br/>
<%= link_to 'Back', inspections_path, class: 'btn btn-info' %>
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>