<ul class="nav navbar-nav">
  <li class="dropdown">
    <%= link_to "#", class: 'dropdown-toggle', data: { toggle: "dropdown" } do %>
      General<span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to "Service Criteria", svc_criteria_path, class: 'active' %></li>
      <li><%= link_to "Fee Schedule", i_fee_schedules_path %></li>
      <li><%= link_to "Commission Rates", insp_comm_scales_path %></li>
      <li><%= link_to "Service Area", svc_areas_path %></li>
      <li><%= link_to "Inspectors", inspectors_path %></li>
      <li><%= link_to "Crew", crews_path %></li>
    </ul>
  </li>
  <li class="dropdown">
    <%= link_to "#", class: 'dropdown-toggle', data: { toggle: "dropdown" } do %>
      Inspection Co-ordinator<span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to "Inspection Request", insp_requests_path, class: 'active' %></li>
      <li><%= link_to "Property", properties_path %></li>
      <li><%= link_to "Customer", clients_path %></li>
      <li><%= link_to "Agent", agents_path %></li>
      <li><%= link_to "Inspection Schedule", appointments_path %></li>
      <li><%= link_to "Block Out Periods", block_out_periods_path %></li>
    </ul>
  </li>
  <li class="dropdown">
    <%= link_to "#", class: 'dropdown-toggle', data: { toggle: "dropdown" } do %>
      Office Processing<span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to "Inspection Entry", inspections_path, class: 'active' %></li>
      <li><%= link_to "Payment Plan", pay_plans_path %></li>
      <li><%= link_to "Invoice", invoices_path %></li>
      <li><%= link_to "Receipt", receipts_path %></li>
      <li><%= link_to "BID", bids_path %></li>
      <li><%= link_to "Upload Files", "/" %></li>
      <li><%= link_to "Permits", permits_path %></li>
      <li><%= link_to "Project Inspection", proj_insps_path %></li>
    </ul>
  </li>
  <li class="dropdown">
    <%= link_to "#", class: 'dropdown-toggle', data: { toggle: "dropdown" } do %>
      Project Co-ordinator<span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to "Bids Follow-Up", comm_histories_path, class: 'active' %></li>
      <li><%= link_to "Create Contract", contracts_path %></li>
      <li><%= link_to "Create Project", projects_path %></li>
      <li><%= link_to "Project/Crew Schedule", proj_scheds_path %></li>
    </ul>
  </li>
</ul>