<!DOCTYPE html>
<html>
<head>
  <title>Firm</title>
  
  <%= stylesheet_link_tag    'application', "chosen-bootstrap", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
<!-- Devise start-->
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
<!--Devise end    -->
<div class="container">
  <%= yield %>
</div>

</body>
</html>
