<%= simple_nested_form_for(@pay_plan) do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, class: "alert alert-danger" %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
    <div class="col-md-6">
      <%= f.input :deposit, label: "Deposit" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :jobMinAmt, label: "Amount Range Start", as: :string %>
    </div>
    <div class="col-md-6">
      <%= f.input :jobMaxAmt, label: "Amount Range End", as: :string %>
    </div>
  </div>
  <%= f.fields_for :payments, :wrapper => false do |payment| %>
    <%= render 'payments/form', payment: payment %>
  <% end %>
  <div class="actions pull-right">
    <%= f.link_to_add "Add a payment", :payments, class: "btn btn-success" %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to "Back", pay_plans_path, class: "btn btn-info" %>
  </div>
<% end %>
<script>
  update();
  $("#pay_plan_jobMinAmt").mask("$99999", { autoclear: false, placeholder: "" });
  $("#pay_plan_jobMaxAmt").mask("$99999", { autoclear: false, placeholder: "" });
  $(document).on('nested:fieldAdded', function(event){
    update();
  });

  $(document).on('nested:fieldRemoved', function(event){
    update();
  });

  function update(){
    $(".title:visible").each(function(index, value){
      index = index + 1;
      var ordinal = get_ordinal(index);
      if($(this).index() == 0)
        $(this).val(index + ordinal + " Payment");
    });
    $(".payment_value:visible").each(function(index, value){
      index = index + 1;
      var ordinal = get_ordinal(index);
      $(this).attr("placeholder", index + ordinal + " Payment Value ");
    });
  }
  function get_ordinal(number){
    switch (number) {
      case 1: return "st";
      case 2: return "nd";
      case 3: return "rd";
      default: return "th";
    }
  }
</script>