<%= simple_nested_form_for(@pay_plan) do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, class: "alert alert-danger" %>
  <div class="row">
    <div class="col-md-5">
      <%= f.input :title %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <%= f.input :jobMinAmt, label: "Amount Range Start", as: :string %>
    </div>
    <div class="col-md-5">
      <%= f.input :jobMaxAmt, label: "Amount Range End", as: :string %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :deposit_label, label: false, input_html: { value: "Deposit (%)" } %>
    </div>
    <div class="col-md-4">
      <%= f.input :deposit, label: false, placeholder: "Deposit Value" %>
    </div>
    <div class="col-md-4">
      <%= f.input :deposit_limit, label: false, placeholder: "Deposit Limit", as: :string,  input_html: { value: f.object.deposit_limit.to_i || 1000 }  %>
    </div>
  </div>
  <div class="row payments">
    <div class = "container">
      <b> * Deposit Limit </b>
    </div>
    <%= f.fields_for :payments, wrapper: false do |payment| %>
      <%= render 'payments/form', payment: payment %>
    <% end %>
  </div>
  <div class="pull-right">
    <%= f.link_to_add "Add a payment", :payments, :data => { :target => ".payments" }, class: "btn btn-success" %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to "Back", pay_plans_path, class: "btn btn-info" %>
  </div>
<% end %>
<script>
  update();
  $("#pay_plan_jobMinAmt").mask("$99999", { autoclear: false, placeholder: "" });
  $("#pay_plan_jobMaxAmt").mask("$99999", { autoclear: false, placeholder: "" });
  $("#pay_plan_deposit_limit").mask("$99999", { autoclear: false, placeholder: "" });
  $(document).on('nested:fieldAdded', function(event){
    update();
  });

  $(document).on('nested:fieldRemoved', function(event){
    update();
  });

  function update(){
    $(".title:visible").each(function(index, value){
      index = index + 1;
      var ordinal = get_ordinal(index);
      if($(this).index() == 0)
        $(this).val(index + ordinal + " Payment (%)");
    });
    $(".payment_value:visible").each(function(index, value){
      index = index + 1;
      var ordinal = get_ordinal(index);
      $(this).attr("placeholder", index + ordinal + " Payment Value");
    });
  }
  function get_ordinal(number){
    switch (number) {
      case 1: return "st";
      case 2: return "nd";
      case 3: return "rd";
      default: return "th";
    }
  }
</script>