<h1>Listing Payment Plan</h1>

<table class='table table-bordered table-striped table-responsive table-hover'>
  <thead>
    <tr>
      <th>Amount Range Start</th>
      <th>Amount Range End</th>
      <th>Deposit</th>
      <th>1st Payment</th>
      <th>2nd Payment</th>
      <th>3rd Payment</th>
      <th>4th Payment</th>
      <th>5th Payment</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pay_plans.each do |pay_plan| %>
      <tr>
        <td><%= number_to_currency(pay_plan.jobMinAmt) %></td>
        <td><%= number_to_currency(pay_plan.jobMaxAmt) %></td>
        <td><%= pay_plan.deposit %></td>
        <td><%= pay_plan.pmt1Pcnt %></td>
        <td><%= pay_plan.pmt2Pcnt %></td>
        <td><%= pay_plan.pmt3Pcnt %></td>
        <td><%= pay_plan.pmt4Pcnt %></td>
        <td><%= pay_plan.pmt5Pcnt %></td>
        <td>
          <%= link_to pay_plan, class: 'btn btn-primary' do %>
            <i class='fa fa-eye'></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_pay_plan_path(pay_plan), class: 'btn btn-info' do %>
            <i class='fa fa-pencil-square-o'></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to pay_plan, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-trash-o'></i> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Payment Plan"), new_pay_plan_path, :class => "btn btn-info" %>
