<p id="notice"><%= notice %></p>

<p>
  <strong>Jobminamt:</strong>
  <%= @pay_plan.jobMinAmt %>
</p>

<p>
  <strong>Jobmaxamt:</strong>
  <%= @pay_plan.jobMaxAmt %>
</p>

<p>
  <strong>Pmt1pcnt:</strong>
  <%= @pay_plan.pmt1Pcnt %>
</p>

<p>
  <strong>Pmt2pcnt:</strong>
  <%= @pay_plan.pmt2Pcnt %>
</p>

<p>
  <strong>Pmt3pcnt:</strong>
  <%= @pay_plan.pmt3Pcnt %>
</p>

<p>
  <strong>Pmt4pcnt:</strong>
  <%= @pay_plan.pmt4Pcnt %>
</p>

<p>
  <strong>Pmt5pcnt:</strong>
  <%= @pay_plan.pmt5Pcnt %>
</p>

<p>
  <strong>Pmt1desc:</strong>
  <%= @pay_plan.pmt1Desc %>
</p>

<p>
  <strong>Pmt2desc:</strong>
  <%= @pay_plan.pmt2Desc %>
</p>

<p>
  <strong>Pmt3desc:</strong>
  <%= @pay_plan.pmt3Desc %>
</p>

<p>
  <strong>Pmt4desc:</strong>
  <%= @pay_plan.pmt4Desc %>
</p>

<p>
  <strong>Pmt5desc:</strong>
  <%= @pay_plan.pmt5Desc %>
</p>

<%= link_to 'Edit', edit_pay_plan_path(@pay_plan) %> |
<%= link_to 'Back', pay_plans_path %>
