<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Payment Plan</h1>
  </div>
  <div class="panel-body">
    <table class='table table-bordered table-striped table-responsive table-hover'>
      <thead>
        <tr>
          <th>Payment Plan Attributes</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Amount Range Start</td>
          <td><%= @pay_plan.jobMinAmt %></td>
        </tr>
        <tr>
          <td>Amount Range End</td>
          <td><%= @pay_plan.jobMaxAmt %></td>
        </tr>
        <tr>
          <td>Deposit</td>
          <td><%= @pay_plan.deposit %></td>
        </tr>
        <tr>
          <td>1st Payment</td>
          <td><%= @pay_plan.pmt1Pcnt %></td>
        </tr>
        <tr>
          <td>2nd Payment</td>
          <td><%= @pay_plan.pmt2Pcnt %></td>
        </tr>
        <tr>
          <td>3rd Payment</td>
          <td><%= @pay_plan.pmt3Pcnt %></td>
        </tr>
        <tr>
          <td>4th Payment</td>
          <td><%= @pay_plan.pmt4Pcnt %></td>
        </tr>
        <tr>
          <td>5th Payment</td>
          <td><%= @pay_plan.pmt5Pcnt %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
<%= link_to 'Back', pay_plans_path, class: 'btn btn-info' %>