<table class='table table-bordered table-striped table-responsive table-hover dashboard'>
  <thead>
    <tr>
      <th>Project Status</th>
      <th>Valuation</th>
      <th>City</th>
      <th>Replacement</th>
      <th>Type of Replacement</th>
      <th>Amount</th>
      <th>Engineering</th>
      <th>Engineer Name</th>
      <th>5 Units</th>
    </tr>
  </thead>

  <tbody>
    <% @permit_informations.each do |permit_information| %>
      <tr onclick="sendEmail(<%= permit_information.id %>)">
        <td><%= permit_information.try(:project).try(:status) %></td>
        <td><%= permit_information.valuation %></td>
        <td><%= permit_information.try(:project).try(:contract).try(:bid).try(:inspection).try(:appointment).try(:insp_request).try(:property).try(:property_select_value) %></td>
        <td><%= permit_information.humanize("replacement") %></td>
        <td><%= permit_information.try(:type_of_replacement) %></td>
        <td><%= permit_information.try(:amount) %></td>
        <td><%= permit_information.humanize("engineering") %></td>
        <td><%= permit_information.try(:engineer).try(:name) %></td>
        <td><%= permit_information.humanize("units") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
function sendEmail(permitInformationId){
  $('.modal-details').modal('show');
  $(".permit_information_id").val(permitInformationId)
}
</script>