<table class='table table-bordered table-striped table-responsive table-hover dashboard'>
  <thead>
    <tr>
      <th>Project Status</th>
      <th>Valuation</th>
      <th>City</th>
      <th>Replacement</th>
      <th>Type of Replacement</th>
      <th>Amount</th>
      <th>Engineering</th>
      <th>Engineer Name</th>
      <th>5 Units</th>
    </tr>
  </thead>

  <tbody>
    <% @permit_informations.each do |permit_information| %>
      <tr onclick="sendEmail(<%= permit_information.id %>, <%= permit_information.try(:project).try(:contract).try(:bid).try(:inspection).try(:id) %>)">
        <td><%= permit_information.try(:project).try(:ready_to_process_status) %></td>
        <td><%= permit_information.valuation %></td>
        <td><%= permit_information.try(:project).try(:contract).try(:bid).try(:inspection).try(:appointment).try(:insp_request).try(:property).try(:city_state) %></td>
        <td><%= permit_information.humanize("replacement") %></td>
        <td><%= permit_information.try(:type_of_replacement) %></td>
        <td><%= permit_information.try(:amount) %></td>
        <td><%= permit_information.humanize("engineering") %></td>
        <td><%= permit_information.try(:engineer).try(:name) %></td>
        <td><%= permit_information.humanize("units") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
function sendEmail(permitInformationId, inspectionId){
  $('.permit-information-details').modal('show');
  $(".permit_information_id").val(permitInformationId);
  $(".inspection").attr("href", "/inspections/" + inspectionId + "?email_preview=true")
}
function sendPIS(inspectionId){
  var fileUrls = new Array();
  $("input[name='file_urls[]']:checked").each(function(index, file){
    fileUrls.push(file.value);
  });
  var fileNames = "<b> Inspection Files: </b>\n\n";
  $(".file-urls").val(fileUrls);
  $.each(fileUrls, function(index, fileUrl){
    fileNames += "<br>" + fileUrl.split("original/")[1];
  });
  $(".file-names").html(fileNames);
  $(".inspection").attr("href", "/inspections/" + inspectionId + "?email_preview=true&file_urls=" + fileUrls)
}
</script>